openapi: 3.0.1
info:
  title: M365 Admin
  x-nodoc-route: m365-admin
  description: |
    The M365 Admin API is used by the Microsoft 365 Admin Center portal (admin.cloud.microsoft) for managing Microsoft 365 tenant settings, including:

      - Copilot Settings and Policies
      - Agent Management
      - Application Settings
      - Company and Organization Settings
      - Security Settings
      - Reports and Analytics
      - Search Configuration
      - Users and Groups
      - Tenant and Billing Management
      - Integrated Apps
      - Content Understanding
      - Viva Settings

    These APIs are accessed through the admin portal and use session-based authentication with portal-specific headers.
    They are used internally by the M365 Admin Center and are not officially documented by Microsoft.

    **Architecture note:** Unlike the Defender XDR and Purview portals which share several backend services
    (e.g., `/di/`, `/gws/`, `/medeina/`, `/msgraph/`), the M365 Admin Center uses its own isolated API layer
    under `/admin/api/`. Some Microsoft Graph operations are proxied through `/fd/msgraph/` endpoints but
    these use a separate federated proxy rather than the shared `/apiproxy/` layer used by XDR and Purview.

    The following custom headers are required for most requests:

    | Header | Description | Example |
    | --- | --- | --- |
    | `AjaxSessionKey` | Portal session key | (from portal bootstrap) |
    | `x-portal-routekey` | Portal routing key | (from portal bootstrap) |
    | `x-adminapp-request` | Admin app context path | `/homepage` |
    | `x-ms-mac-appid` | Page-specific admin portal application ID | `050829af-7f24-4897-8f81-732bf47719ad` |
    | `x-ms-mac-hostingapp` | Hosting application name | `M365AdminPortal` |

    Live portal capture shows that `x-ms-mac-appid` and `x-ms-mac-version` vary by blade.
    SharePoint-backed helpers such as Brand center also add a brokered SharePoint bearer token.

    Documentation and specifications have been provided on a best efforts basis and may not be 100% accurate.

  version: '1.0'
  contact:
    name: nodoc
    url: https://github.com/nathanmcnulty/nodoc
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://admin.cloud.microsoft
    description: Microsoft 365 admin center API

security:
  - PortalSession: []

components:
  securitySchemes:
    PortalSession:
      type: apiKey
      in: cookie
      name: AjaxSessionKey
      description: Session-based authentication via the M365 Admin Portal. Requires an authenticated browser session.

tags:
  - name: Copilot
    description: Operations relating to Microsoft 365 Copilot settings and policies.
  - name: Agents
    description: Operations relating to agent management, tools, and frontier access.
  - name: AppSettings
    x-displayName: App settings
    description: Operations relating to application-level settings (Bookings, Mail, Teams, etc.).
  - name: CompanySettings
    x-displayName: Company settings
    description: Operations relating to company-level settings (theme, profile, helpdesk, etc.).
  - name: SecuritySettings
    x-displayName: Security settings
    description: Operations relating to security settings (guest users, sharing policies, etc.).
  - name: Reports
    description: Operations relating to reports and analytics data.
  - name: Search
    description: Operations relating to search configuration and intelligence.
  - name: UsersGroups
    x-displayName: Users & groups
    description: Operations relating to user and group management.
  - name: Tenant
    description: Operations relating to tenant configuration and billing.
  - name: GraphProxy
    x-displayName: Microsoft Graph proxy
    description: Operations proxied through to Microsoft Graph for directory, identity, and license management. Uses the /fd/msgraph/ federated proxy (separate from the /apiproxy/msgraph/ used by Defender XDR and Purview).
  - name: Purview
    description: Operations relating to Microsoft Purview and compliance.
  - name: Edge
    description: Operations relating to Microsoft Edge enterprise management.
  - name: IntegratedApps
    x-displayName: Integrated apps
    description: Operations relating to integrated apps and add-ins.
  - name: TenantRelationships
    x-displayName: Tenant relationships
    description: Operations relating to multi-tenant organization and tenant relationships.
  - name: ContentUnderstanding
    x-displayName: Content understanding
    description: Operations relating to content understanding and Syntex.
  - name: Viva
    description: Operations relating to Microsoft Viva settings.
  - name: Miscellaneous
    description: Portal bootstrap, recommendations, directory sync errors, and other utility operations that support the admin portal infrastructure.
  - name: Navigation
    description: Operations relating to portal navigation and UI preferences.
  - name: Features
    description: Operations relating to feature flags and configuration.
  - name: Billing
    description: Operations relating to billing models and payments.
  - name: IdentitySecurity
    description: Operations relating to identity and security configuration.
  - name: Partners
    description: Operations relating to partner management and AOBO.

  - name: Domains
    description: Operations relating to domain management and configuration.
  - name: MessageCenter
    x-displayName: Message center
    description: Operations relating to message center messages and preferences.
  - name: ServiceHealth
    x-displayName: Service health
    description: Operations relating to service health monitoring and status.

x-tagGroups:
  - name: AI & productivity
    tags: [Copilot, Agents, Viva, ContentUnderstanding, IntegratedApps]
  - name: Tenant & workload settings
    tags: [AppSettings, CompanySettings, Tenant, Domains, Billing]
  - name: Identity, security & compliance
    tags: [SecuritySettings, IdentitySecurity, GraphProxy, Purview, Partners, TenantRelationships]
  - name: Users & communications
    tags: [UsersGroups, MessageCenter, Navigation]
  - name: Reporting & operations
    tags: [Reports, Search, ServiceHealth, Features, Miscellaneous, Edge]
externalDocs:
  description: Checked-in source specification and supporting modules.
  url: https://github.com/nathanmcnulty/nodoc/tree/main/specifications/nodoc-m365-admin/specification

x-nodoc-headerProfiles:
  m365-admin-homepage:
    description: Homepage-backed same-origin M365 Admin profile used for dashboard reads and token-broker traffic.
    requiredHeaders:
      - name: AjaxSessionKey
        description: Portal session key captured during admin shell bootstrap.
      - name: x-portal-routekey
        description: Route key issued by the admin shell and reused on same-origin requests.
      - name: x-adminapp-request
        value: /homepage
        description: Admin shell context path for homepage-backed requests.
      - name: x-ms-mac-appid
        description: Blade-specific admin portal application identifier. Live captures show that this value changes between portal experiences.
      - name: x-ms-mac-hostingapp
        value: M365AdminPortal
        description: Hosting application name emitted by the admin shell.
    observedHeaders:
      - name: x-ms-mac-appid
        value: 050829af-7f24-4897-8f81-732bf47719ad
        description: Observed on live homepage-backed token broker requests.
      - name: x-ms-mac-target-app
        value: MAC
        description: Additional routing context observed on same-origin homepage requests.
      - name: x-ms-mac-version
        value: host-mac_2026.4.2.8
        description: Observed shell version header. Treat this as volatile.
      - name: Referer
        value: https://admin.cloud.microsoft/
        description: Root admin referer emitted by the live homepage shell.
  m365-admin-microsoft-search:
    description: Same-origin M365 Admin profile used by Search & intelligence and Search Answers recommendation reads.
    requiredHeaders:
      - name: AjaxSessionKey
        description: Portal session key captured during admin shell bootstrap.
      - name: x-portal-routekey
        description: Route key issued by the admin shell and reused on same-origin requests.
      - name: x-adminapp-request
        value: /MicrosoftSearch
        description: Admin shell context path for Microsoft Search-backed requests.
      - name: x-ms-mac-appid
        description: Blade-specific admin portal application identifier. Live captures show that this value changes between portal experiences.
      - name: x-ms-mac-hostingapp
        value: M365AdminPortal
        description: Hosting application name emitted by the admin shell.
    observedHeaders:
      - name: x-ms-mac-appid
        value: 36051945-c7f8-4505-8a9b-23f8ba62271e
        description: Observed on live Search & intelligence recommendation requests.
      - name: x-ms-mac-target-app
        value: MAC
        description: Additional routing context observed on same-origin Microsoft Search requests.
      - name: x-ms-mac-version
        value: host-mac_2026.4.2.8
        description: Observed shell version header. Treat this as volatile.
      - name: Referer
        value: https://admin.cloud.microsoft/
        description: Root admin referer emitted by the live Microsoft Search shell.
  m365-admin-viva:
    description: Same-origin M365 Admin profile used by Viva module and settings calls.
    requiredHeaders:
      - name: AjaxSessionKey
        description: Portal session key captured during admin shell bootstrap.
      - name: x-portal-routekey
        description: Route key issued by the admin shell and reused on same-origin requests.
      - name: x-adminapp-request
        value: /viva
        description: Admin shell context path for Viva-backed requests.
      - name: x-ms-mac-appid
        description: Blade-specific admin portal application identifier. Captured values are volatile and can change independently from other admin surfaces.
      - name: x-ms-mac-hostingapp
        value: M365AdminPortal
        description: Hosting application name emitted by the admin shell.
    observedHeaders:
      - name: x-ms-mac-target-app
        value: MAC
        description: Additional routing context observed on same-origin requests.
      - name: x-ms-mac-version
        description: Blade-specific shell version header. Treat this as volatile.
      - name: Referer
        value: https://admin.cloud.microsoft/
        description: Viva-backed requests were observed with the root admin referer.
  m365-admin-data-location:
    description: Narrow M365 Admin profile used for tenant data-location requests.
    requiredHeaders:
      - name: AjaxSessionKey
        description: Portal session key captured during admin shell bootstrap.
      - name: x-portal-routekey
        description: Route key issued by the admin shell and reused on same-origin requests.
      - name: x-adminapp-request
        value: /Settings/OrganizationProfile/:/Settings/L1/DataLocation
        description: Admin shell context path for the data-location blade.
    observedHeaders:
      - name: Referer
        value: https://admin.cloud.microsoft/
        description: Root admin referer observed on data-location requests.
  m365-admin-office-online:
    description: Same-origin M365 Admin profile used by Org settings > Services > Microsoft 365 on the web.
    requiredHeaders:
      - name: AjaxSessionKey
        description: Portal session key captured during admin shell bootstrap.
      - name: x-portal-routekey
        description: Route key issued by the admin shell and reused on same-origin requests.
      - name: x-adminapp-request
        value: /Settings/Services/:/Settings/L1/OfficeOnline
        description: Admin shell context path for the Microsoft 365 on the web blade.
      - name: x-ms-mac-appid
        description: Blade-specific admin portal application identifier. Live captures show that this value changes between portal experiences.
      - name: x-ms-mac-hostingapp
        value: M365AdminPortal
        description: Hosting application name emitted by the admin shell.
    observedHeaders:
      - name: x-ms-mac-appid
        value: 3fda709f-4f6c-4ba7-8da3-b3d031a4d675
        description: Observed on live Microsoft 365 on the web settings reads.
      - name: x-ms-mac-target-app
        value: MAC
        description: Additional routing context observed on same-origin Office Online requests.
      - name: x-ms-mac-version
        value: host-mac_2026.4.2.8
        description: Observed shell version header. Treat this as volatile.
      - name: Referer
        value: https://admin.cloud.microsoft/
        description: Root admin referer emitted by the live services blade.
  m365-admin-brand-center:
    description: SharePoint-backed M365 Admin profile used by the Brand center setup and configuration helpers.
    requiredHeaders:
      - name: AjaxSessionKey
        description: Portal session key captured during admin shell bootstrap.
      - name: x-portal-routekey
        description: Route key issued by the admin shell and reused on same-origin requests.
      - name: Authorization
        description: Brokered SharePoint bearer token observed on live Brand center helper reads.
      - name: x-adminapp-request
        value: /brandcenter
        description: Admin shell context path for the Brand center experience.
      - name: x-ms-mac-appid
        description: Blade-specific admin portal application identifier. Live captures show that this value changes between portal experiences.
      - name: x-ms-mac-hostingapp
        value: M365AdminPortal
        description: Hosting application name emitted by the admin shell.
    observedHeaders:
      - name: x-ms-mac-appid
        value: 9f8918eb-b2b7-4b90-b5bd-86b38f6d4d23
        description: Observed on live Brand center helper requests.
      - name: x-ms-mac-target-app
        value: SPO
        description: SharePoint-targeted routing context observed on Brand center reads.
      - name: x-ms-mac-version
        value: host-mac_2026.4.2.8
        description: Observed shell version header. Treat this as volatile.
      - name: Referer
        value: https://admin.cloud.microsoft/
        description: Root admin referer emitted by the live Brand center blade.
  m365-admin-microsoft-365-backup:
    description: Same-origin M365 Admin profile used by Settings > Microsoft 365 Backup.
    requiredHeaders:
      - name: AjaxSessionKey
        description: Portal session key captured during admin shell bootstrap.
      - name: x-portal-routekey
        description: Route key issued by the admin shell and reused on same-origin requests.
      - name: x-adminapp-request
        value: /Settings/enhancedRestore
        description: Admin shell context path for the Microsoft 365 Backup blade.
      - name: x-ms-mac-appid
        description: Blade-specific admin portal application identifier. Live captures show that this value changes between portal experiences.
      - name: x-ms-mac-hostingapp
        value: M365AdminPortal
        description: Hosting application name emitted by the admin shell.
    observedHeaders:
      - name: x-ms-mac-appid
        value: 08a68b73-8058-4c59-8bd5-7b6833e2af21
        description: Observed on live Microsoft 365 Backup reads.
      - name: x-ms-mac-target-app
        value: MAC
        description: Additional routing context observed on same-origin backup requests.
      - name: x-ms-mac-version
        value: host-mac_2026.4.2.8
        description: Observed shell version header. Treat this as volatile.
      - name: Referer
        value: https://admin.cloud.microsoft/
        description: Root admin referer emitted by the live Microsoft 365 Backup blade.

paths:
  # Copilot
  /admin/api/settings/company/copilotpolicy/pin:
    $ref: copilot.yml#/paths/~1admin~1api~1settings~1company~1copilotpolicy~1pin
  /admin/api/copilotsettings/settings:
    $ref: copilot.yml#/paths/~1admin~1api~1copilotsettings~1settings
  /admin/api/copilotsettings/securitycopilot/auth:
    $ref: copilot.yml#/paths/~1admin~1api~1copilotsettings~1securitycopilot~1auth
  /admin/api/Copilot/getcopilotlicenseassignmentdate:
    $ref: copilot.yml#/paths/~1admin~1api~1Copilot~1getcopilotlicenseassignmentdate
  /admin/api/m365copilot/ShowColorCopilotIcon:
    $ref: copilot.yml#/paths/~1admin~1api~1m365copilot~1ShowColorCopilotIcon

  # Agents
  /admin/api/agentusers/metrics/agents/risky:
    $ref: agents.yml#/paths/~1admin~1api~1agentusers~1metrics~1agents~1risky
  /admin/api/agenttemplates/getpolicies:
    $ref: agents.yml#/paths/~1admin~1api~1agenttemplates~1getpolicies
  /admin/api/agenttemplates/getagenttemplates:
    $ref: agents.yml#/paths/~1admin~1api~1agenttemplates~1getagenttemplates
  /admin/api/agentssettings/mcpservers:
    $ref: agents.yml#/paths/~1admin~1api~1agentssettings~1mcpservers
  /admin/api/settings/company/frontier/access:
    $ref: agents.yml#/paths/~1admin~1api~1settings~1company~1frontier~1access

  # App Settings
  /admin/api/settings/apps/bookings:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1bookings
  /admin/api/settings/apps/mail:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1mail
  /admin/api/settings/apps/skypeteams:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1skypeteams
  /admin/api/TeamsProvisioning/Customization:
    $ref: app_settings.yml#/paths/~1admin~1api~1TeamsProvisioning~1Customization
  /admin/api/settings/apps/calendarsharing:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1calendarsharing
  /admin/api/settings/apps/learning:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1learning
  /admin/api/settings/apps/store:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1store
  /admin/api/settings/apps/cortana:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1cortana
  /admin/api/settings/apps/officeforms:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1officeforms
  /admin/api/settings/apps/officeontheweb:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1officeontheweb
  /admin/api/settings/apps/planner:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1planner
  /admin/api/settings/apps/sway:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1sway
  /admin/api/settings/apps/todo:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1todo
  /admin/api/settings/apps/whiteboard:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1whiteboard
  /admin/api/settings/apps/m365groups:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1m365groups
  /admin/api/settings/apps/MicrosoftLoop:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1MicrosoftLoop
  /admin/api/settings/apps/briefing:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1briefing
  /admin/api/settings/apps/userownedapps:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1userownedapps

  # Company Settings
  /admin/api/Settings/company/theme/v2:
    $ref: company_settings.yml#/paths/~1admin~1api~1Settings~1company~1theme~1v2
  /admin/api/Settings/company/profile:
    $ref: company_settings.yml#/paths/~1admin~1api~1Settings~1company~1profile
  /admin/api/Settings/company/helpdesk:
    $ref: company_settings.yml#/paths/~1admin~1api~1Settings~1company~1helpdesk
  /admin/api/Settings/company/releasetrack:
    $ref: company_settings.yml#/paths/~1admin~1api~1Settings~1company~1releasetrack
  /admin/api/Settings/company/sendfromaddress:
    $ref: company_settings.yml#/paths/~1admin~1api~1Settings~1company~1sendfromaddress
  /admin/api/Settings/company/tile:
    $ref: company_settings.yml#/paths/~1admin~1api~1Settings~1company~1tile
  /_api/spo.tenant/GetBrandCenterConfiguration:
    $ref: company_settings.yml#/paths/~1_api~1spo.tenant~1GetBrandCenterConfiguration
  /_api/GroupSiteManager/GetValidSiteUrlFromAlias:
    $ref: company_settings.yml#/paths/~1_api~1GroupSiteManager~1GetValidSiteUrlFromAlias

  # Security Settings
  /admin/api/Settings/security/o365guestuser:
    $ref: security_settings.yml#/paths/~1admin~1api~1Settings~1security~1o365guestuser
  /admin/api/Settings/security/guestUserPolicy:
    $ref: security_settings.yml#/paths/~1admin~1api~1Settings~1security~1guestUserPolicy

  # Reports
  /admin/api/reports/GetReportData:
    $ref: reports.yml#/paths/~1admin~1api~1reports~1GetReportData
  /admin/api/reports/GetSummaryDataV3:
    $ref: reports.yml#/paths/~1admin~1api~1reports~1GetSummaryDataV3
  /admin/api/reports/productivityScoreConfig/GetProductivityScoreConfig:
    $ref: reports.yml#/paths/~1admin~1api~1reports~1productivityScoreConfig~1GetProductivityScoreConfig
  /admin/api/reports/productivityScoreCustomerOption:
    $ref: reports.yml#/paths/~1admin~1api~1reports~1productivityScoreCustomerOption
  /admin/api/admindashboard/preferences:
    $ref: reports.yml#/paths/~1admin~1api~1admindashboard~1preferences

  # Search
  /admin/api/searchadminapi/configurations:
    $ref: search.yml#/paths/~1admin~1api~1searchadminapi~1configurations
  /admin/api/searchadminapi/searchintelligencehome/cards:
    $ref: search.yml#/paths/~1admin~1api~1searchadminapi~1searchintelligencehome~1cards
  /admin/api/searchadminapi/firstrunexperience/get:
    $ref: search.yml#/paths/~1admin~1api~1searchadminapi~1firstrunexperience~1get
  /admin/api/searchadminapi/Qnas:
    $ref: search.yml#/paths/~1admin~1api~1searchadminapi~1Qnas
  /admin/api/searchadminapi/news/options/Bing:
    $ref: search.yml#/paths/~1admin~1api~1searchadminapi~1news~1options~1Bing
  /admin/api/searchadminapi/UDTConnectorsSummary:
    $ref: search.yml#/paths/~1admin~1api~1searchadminapi~1UDTConnectorsSummary
  /fd/mssearchconnectors/v1.0/admin/AdminUxOptions:
    $ref: search.yml#/paths/~1fd~1mssearchconnectors~1v1.0~1admin~1AdminUxOptions
  /fd/mssearchconnectors/v1.0/admin/connections:
    $ref: search.yml#/paths/~1fd~1mssearchconnectors~1v1.0~1admin~1connections
  /fd/mssearchconnectors/v1.0/admin/connections/getStatistics:
    $ref: search.yml#/paths/~1fd~1mssearchconnectors~1v1.0~1admin~1connections~1getStatistics
  /fd/mssearchinsights/api/v1/{tenantId}/status/reportdata:
    $ref: search.yml#/paths/~1fd~1mssearchinsights~1api~1v1~1{tenantId}~1status~1reportdata
  /fd/mssearchinsights/api/v1/{tenantId}/TenantReports/GenericReport:
    $ref: search.yml#/paths/~1fd~1mssearchinsights~1api~1v1~1{tenantId}~1TenantReports~1GenericReport
  /fd/substrateBookmarks/api/v3/management/bookmarks:
    $ref: search.yml#/paths/~1fd~1substrateBookmarks~1api~1v3~1management~1bookmarks
  /fd/substrateAcronyms/api/v1.0/GetTenantAdminAcronymsFromSds:
    $ref: search.yml#/paths/~1fd~1substrateAcronyms~1api~1v1.0~1GetTenantAdminAcronymsFromSds

  # Users & Groups
  /admin/api/users/getuserroles:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1getuserroles
  /admin/api/Users/ListUsers:
    $ref: users_groups.yml#/paths/~1admin~1api~1Users~1ListUsers
  /admin/api/users/contextualalerts:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1contextualalerts
  /admin/api/groups/GetGroups:
    $ref: users_groups.yml#/paths/~1admin~1api~1groups~1GetGroups
  /admin/api/users/currentUser:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1currentUser
  /admin/api/users/svinfo:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1svinfo
  /admin/api/users/getcommondvpreferences:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1getcommondvpreferences
  /admin/api/users/products:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1products
  /admin/api/users/dashboardlayout:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1dashboardlayout
  /admin/api/users/getuseraccesstoken:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1getuseraccesstoken
  /admin/api/users/teamssettingsinfo:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1teamssettingsinfo
  /admin/api/users/surveysInfo:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1surveysInfo
  /admin/api/users/savecommondvpreferences:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1savecommondvpreferences
  /admin/api/users/tokenWithExpiry:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1tokenWithExpiry
  /admin/api/groups/labels:
    $ref: users_groups.yml#/paths/~1admin~1api~1groups~1labels
  /admin/api/groups/permissions:
    $ref: users_groups.yml#/paths/~1admin~1api~1groups~1permissions

  # Tenant
  /admin/api/tenant/datalocationandcommitments:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1datalocationandcommitments
  /admin/api/tenant/localdatalocation:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1localdatalocation
  /admin/api/tenant/azureSubscriptions:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1azureSubscriptions
  /admin/api/tenant/billingAccountsWithShell:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1billingAccountsWithShell
  /admin/api/tenant/marketplaceSeatSize:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1marketplaceSeatSize
  /admin/api/selfServicePurchasePolicy/products:
    $ref: tenant.yml#/paths/~1admin~1api~1selfServicePurchasePolicy~1products
  /admin/api/Tenant/StartOfflineProcesses:
    $ref: tenant.yml#/paths/~1admin~1api~1Tenant~1StartOfflineProcesses
  /admin/api/tenant/o365activationusercounts:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1o365activationusercounts
  /admin/api/tenant/isReportsPrivacyEnabled:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1isReportsPrivacyEnabled

  # Graph Proxy
  /fd/msgraph/v1.0/subscribedSkus:
    $ref: graph_proxy.yml#/paths/~1fd~1msgraph~1v1.0~1subscribedSkus
  /fd/msgraph/v1.0/devices:
    $ref: graph_proxy.yml#/paths/~1fd~1msgraph~1v1.0~1devices
  /fd/msgraph/v1.0/$batch:
    $ref: graph_proxy.yml#/paths/~1fd~1msgraph~1v1.0~1$batch
  /fd/msgraph/beta/solutions/backupRestore/protectionPolicies:
    $ref: graph_proxy.yml#/paths/~1fd~1msgraph~1beta~1solutions~1backupRestore~1protectionPolicies
  /fd/msgraph/beta/solutions/backupRestore/emailNotificationsSetting:
    $ref: graph_proxy.yml#/paths/~1fd~1msgraph~1beta~1solutions~1backupRestore~1emailNotificationsSetting
  /fd/msgraph/beta/$batch:
    $ref: graph_proxy.yml#/paths/~1fd~1msgraph~1beta~1$batch

  # Purview
  /fd/purview/apiproxy/di/find/PurviewForAI:
    $ref: purview.yml#/paths/~1fd~1purview~1apiproxy~1di~1find~1PurviewForAI
  /fd/purview/apiproxy/di/find/DlpCompliancePolicy:
    $ref: purview.yml#/paths/~1fd~1purview~1apiproxy~1di~1find~1DlpCompliancePolicy
  /fd/purview/apiproxy/di/find/DlpSensitiveInformationType:
    $ref: purview.yml#/paths/~1fd~1purview~1apiproxy~1di~1find~1DlpSensitiveInformationType
  /fd/purview/apiproxy/cpm/v1.0/Tenant/AIBaselineSummary:
    $ref: purview.yml#/paths/~1fd~1purview~1apiproxy~1cpm~1v1.0~1Tenant~1AIBaselineSummary
  /fd/purview/api/boot/getNexusBootInfo:
    $ref: purview.yml#/paths/~1fd~1purview~1api~1boot~1getNexusBootInfo

  # Edge
  /fd/edgeenterprisesitemanagement/api/v2/emiesitelists:
    $ref: edge.yml#/paths/~1fd~1edgeenterprisesitemanagement~1api~1v2~1emiesitelists
  /fd/edgeenterpriseextensionsmanagement/api/policies:
    $ref: edge.yml#/paths/~1fd~1edgeenterpriseextensionsmanagement~1api~1policies
  /fd/OfficePolicyAdmin/v1.0/edge/policies:
    $ref: edge.yml#/paths/~1fd~1OfficePolicyAdmin~1v1.0~1edge~1policies

  # Integrated Apps
  /fd/addins/api/apps:
    $ref: integrated_apps.yml#/paths/~1fd~1addins~1api~1apps
  /fd/addins/api/agents:
    $ref: integrated_apps.yml#/paths/~1fd~1addins~1api~1agents
  /fd/addins/api/actionableApps:
    $ref: integrated_apps.yml#/paths/~1fd~1addins~1api~1actionableApps
  /fd/addins/api/availableApps:
    $ref: integrated_apps.yml#/paths/~1fd~1addins~1api~1availableApps
  /fd/addins/api/recommendations/appRecommendations:
    $ref: integrated_apps.yml#/paths/~1fd~1addins~1api~1recommendations~1appRecommendations
  /fd/addins/api/v2/settings:
    $ref: integrated_apps.yml#/paths/~1fd~1addins~1api~1v2~1settings

  # Tenant Relationships
  /admin/api/tenantRelationships/multiTenantOrganization:
    $ref: tenant_relationships.yml#/paths/~1admin~1api~1tenantRelationships~1multiTenantOrganization
  /admin/api/tenantRelationships/multiTenantOrganization/tenants:
    $ref: tenant_relationships.yml#/paths/~1admin~1api~1tenantRelationships~1multiTenantOrganization~1tenants
  /admin/api/tenantRelationships/userSyncApps/outboundDetails:
    $ref: tenant_relationships.yml#/paths/~1admin~1api~1tenantRelationships~1userSyncApps~1outboundDetails

  # Content Understanding
  /admin/api/contentunderstanding/autofillsetting:
    $ref: content_understanding.yml#/paths/~1admin~1api~1contentunderstanding~1autofillsetting
  /admin/api/contentunderstanding/billingSettings:
    $ref: content_understanding.yml#/paths/~1admin~1api~1contentunderstanding~1billingSettings
  /admin/api/contentunderstanding/imagetaggingsetting:
    $ref: content_understanding.yml#/paths/~1admin~1api~1contentunderstanding~1imagetaggingsetting
  /admin/api/contentunderstanding/playbacktranscripttranslationsettings:
    $ref: content_understanding.yml#/paths/~1admin~1api~1contentunderstanding~1playbacktranscripttranslationsettings
  /admin/api/contentunderstanding/powerAppsEnvironments:
    $ref: content_understanding.yml#/paths/~1admin~1api~1contentunderstanding~1powerAppsEnvironments
  /admin/api/contentunderstanding/setting:
    $ref: content_understanding.yml#/paths/~1admin~1api~1contentunderstanding~1setting
  /admin/api/contentunderstanding/taxonomytaggingsetting:
    $ref: content_understanding.yml#/paths/~1admin~1api~1contentunderstanding~1taxonomytaggingsetting
  /admin/api/contentunderstanding/esignaturesettings:
    $ref: content_understanding.yml#/paths/~1admin~1api~1contentunderstanding~1esignaturesettings
  /admin/api/contentunderstanding/licensing:
    $ref: content_understanding.yml#/paths/~1admin~1api~1contentunderstanding~1licensing
  /admin/api/syntexbilling/azureSubscriptions:
    $ref: content_understanding.yml#/paths/~1admin~1api~1syntexbilling~1azureSubscriptions

  # Viva
  /admin/api/viva/roles:
    $ref: viva.yml#/paths/~1admin~1api~1viva~1roles
  /admin/api/viva/modules:
    $ref: viva.yml#/paths/~1admin~1api~1viva~1modules
  /admin/api/viva/glint/lookupClient:
    $ref: viva.yml#/paths/~1admin~1api~1viva~1glint~1lookupClient

  # Miscellaneous
  /admin/api/coordinatedbootstrap/shellinfo:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1coordinatedbootstrap~1shellinfo
  /adminportal/home/ClassicModernAdminDataStream:
    $ref: miscellaneous.yml#/paths/~1adminportal~1home~1ClassicModernAdminDataStream
  /admin/api/dirsyncerrors/listdirsyncerrors:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1dirsyncerrors~1listdirsyncerrors
  /admin/api/recommendations/m365/ccs:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1recommendations~1m365~1ccs
  /admin/api/offerrec/offer/{id}:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1offerrec~1offer~1{id}
  /fd/enhancedRestorev2/v1/featureSetting:
    $ref: miscellaneous.yml#/paths/~1fd~1enhancedRestorev2~1v1~1featureSetting
  /fd/arm/providers/Microsoft.Billing/billingAccounts:
    $ref: miscellaneous.yml#/paths/~1fd~1arm~1providers~1Microsoft.Billing~1billingAccounts
  /admin/api/notifications:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1notifications
  /admin/api/rememberpreferences:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1rememberpreferences
  /admin/api/setupwizard/setupbanner:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1setupwizard~1setupbanner
  /admin/api/uxversion:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1uxversion
  /admin/api/a365conversion:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1a365conversion
  /admin/api/recommendations/m365alerts:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1recommendations~1m365alerts
  /admin/api/recommendations/m365suggestions:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1recommendations~1m365suggestions

  # Navigation
  /admin/api/navigation/darkmode:
    $ref: navigation.yml#/paths/~1admin~1api~1navigation~1darkmode
  /admin/api/navigation:
    $ref: navigation.yml#/paths/~1admin~1api~1navigation
  /admin/api/navigation/async:
    $ref: navigation.yml#/paths/~1admin~1api~1navigation~1async

  # Features
  /admin/api/features/initialload:
    $ref: features.yml#/paths/~1admin~1api~1features~1initialload
  /admin/api/features/admincontentcdnimagepath:
    $ref: features.yml#/paths/~1admin~1api~1features~1admincontentcdnimagepath
  /admin/api/features/config:
    $ref: features.yml#/paths/~1admin~1api~1features~1config
  /admin/api/features/all:
    $ref: features.yml#/paths/~1admin~1api~1features~1all

  # Billing
  /admin/api/billing/BillingModel:
    $ref: billing.yml#/paths/~1admin~1api~1billing~1BillingModel
  /_api/v2.1/billingFeatures('M365Backup'):
    $ref: "billing.yml#/paths/~1_api~1v2.1~1billingFeatures('M365Backup')"

  # Identity & Security
  /admin/api/identitysecurity/securitydefaults:
    $ref: identity_security.yml#/paths/~1admin~1api~1identitysecurity~1securitydefaults

  # Partners
  /admin/api/partners/AOBOClients:
    $ref: partners.yml#/paths/~1admin~1api~1partners~1AOBOClients

  # Contacts & User Management (new)
  /admin/api/contact/Customization:
    $ref: users_groups.yml#/paths/~1admin~1api~1contact~1Customization
  /admin/api/contact/GetContacts:
    $ref: users_groups.yml#/paths/~1admin~1api~1contact~1GetContacts
  /admin/api/guestuserlist/Customization:
    $ref: users_groups.yml#/paths/~1admin~1api~1guestuserlist~1Customization
  /admin/api/users/ListExternalGuestUsers:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1ListExternalGuestUsers
  /admin/api/userlist/Customization:
    $ref: users_groups.yml#/paths/~1admin~1api~1userlist~1Customization
  /admin/api/users/administrativeunits:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1administrativeunits
  /admin/api/users/deviceupdatechanneleligibility:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1deviceupdatechanneleligibility
  /admin/api/users/getavailableroles:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1getavailableroles
  /admin/api/users/new/options:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1new~1options
  /admin/api/users/{userId}:
    $ref: users_groups.yml#/paths/~1admin~1api~1users~1{userId}
  /admin/api/grouplist/Customization:
    $ref: users_groups.yml#/paths/~1admin~1api~1grouplist~1Customization
  /admin/api/groups/GetGroupCount:
    $ref: users_groups.yml#/paths/~1admin~1api~1groups~1GetGroupCount
  /admin/api/groups/getgroupsbyids:
    $ref: users_groups.yml#/paths/~1admin~1api~1groups~1getgroupsbyids
  /admin/api/groups/new/options:
    $ref: users_groups.yml#/paths/~1admin~1api~1groups~1new~1options
  /admin/api/localizedvideo/getbyfeature/{locale}:
    $ref: users_groups.yml#/paths/~1admin~1api~1localizedvideo~1getbyfeature~1{locale}

  # Tenant (new)
  /admin/api/tenant/SACProvisioning:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1SACProvisioning
  /admin/api/tenant/customviewfilterdefaults:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1customviewfilterdefaults
  /admin/api/tenant/userviews:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1userviews
  /admin/api/tenant/isTenantEligibleToRemoveSAC:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1isTenantEligibleToRemoveSAC
  /admin/api/tenant/seatSize:
    $ref: tenant.yml#/paths/~1admin~1api~1tenant~1seatSize

  # Domains (new)
  /admin/api/domainlist/Customization:
    $ref: domains.yml#/paths/~1admin~1api~1domainlist~1Customization
  /admin/api/domains/GetDomainBuyModel:
    $ref: domains.yml#/paths/~1admin~1api~1domains~1GetDomainBuyModel
  /admin/api/domains/List:
    $ref: domains.yml#/paths/~1admin~1api~1domains~1List
  /admin/api/Domains/Records/Export:
    $ref: domains.yml#/paths/~1admin~1api~1Domains~1Records~1Export
  /admin/api/domains/Verified:
    $ref: domains.yml#/paths/~1admin~1api~1domains~1Verified

  # Service Settings (new)
  /admin/api/services/apps/cortana:
    $ref: app_settings.yml#/paths/~1admin~1api~1services~1apps~1cortana
  /admin/api/services/apps/m365lighthouse:
    $ref: app_settings.yml#/paths/~1admin~1api~1services~1apps~1m365lighthouse
  /admin/api/services/apps/modernAuth:
    $ref: app_settings.yml#/paths/~1admin~1api~1services~1apps~1modernAuth
  /admin/api/services/apps/myanalytics:
    $ref: app_settings.yml#/paths/~1admin~1api~1services~1apps~1myanalytics
  /admin/api/services/apps/planner:
    $ref: app_settings.yml#/paths/~1admin~1api~1services~1apps~1planner
  /admin/api/services/apps/todo:
    $ref: app_settings.yml#/paths/~1admin~1api~1services~1apps~1todo
  /admin/api/services/apps/vivainsights:
    $ref: app_settings.yml#/paths/~1admin~1api~1services~1apps~1vivainsights

  # App Settings (new)
  /admin/api/settings/apps/EndUserCommunications:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1EndUserCommunications
  /admin/api/settings/apps/o365dataplan:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1o365dataplan
  /admin/api/settings/apps/officeonline:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1officeonline
  /admin/api/settings/apps/sitessharing:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1sitessharing
  /admin/api/settings/apps/usersoftware:
    $ref: app_settings.yml#/paths/~1admin~1api~1settings~1apps~1usersoftware

  # Security Settings (new)
  /admin/api/settings/security/passwordpolicy:
    $ref: security_settings.yml#/paths/~1admin~1api~1settings~1security~1passwordpolicy
  /admin/api/settings/security/privacypolicy:
    $ref: security_settings.yml#/paths/~1admin~1api~1settings~1security~1privacypolicy
  /admin/api/settings/security/tenantLockbox:
    $ref: security_settings.yml#/paths/~1admin~1api~1settings~1security~1tenantLockbox
  /admin/api/settings/security/dataaccess:
    $ref: security_settings.yml#/paths/~1admin~1api~1settings~1security~1dataaccess
  /admin/api/securitysettings/settings:
    $ref: security_settings.yml#/paths/~1admin~1api~1securitysettings~1settings
  /admin/api/securitysettings/optIn:
    $ref: security_settings.yml#/paths/~1admin~1api~1securitysettings~1optIn
  /admin/api/securitysettings/settings/status:
    $ref: security_settings.yml#/paths/~1admin~1api~1securitysettings~1settings~1status

  # Message Center & Service Health (new)
  /admin/api/messagecenter:
    $ref: health.yml#/paths/~1admin~1api~1messagecenter
  /admin/api/messagecenter/GetDisplayPreferences:
    $ref: health.yml#/paths/~1admin~1api~1messagecenter~1GetDisplayPreferences
  /admin/api/messagecenter/GetPlannerIntegrationPreferences:
    $ref: health.yml#/paths/~1admin~1api~1messagecenter~1GetPlannerIntegrationPreferences
  /admin/api/messagecenter/GetPlannerIntegrationTaskSet:
    $ref: health.yml#/paths/~1admin~1api~1messagecenter~1GetPlannerIntegrationTaskSet
  /admin/api/messagecenter/activities:
    $ref: health.yml#/paths/~1admin~1api~1messagecenter~1activities
  /admin/api/messagecenter/configuration:
    $ref: health.yml#/paths/~1admin~1api~1messagecenter~1configuration
  /admin/api/servicehealth/getDisplayPreferences:
    $ref: health.yml#/paths/~1admin~1api~1servicehealth~1getDisplayPreferences
  /admin/api/servicehealth/status/activeCM:
    $ref: health.yml#/paths/~1admin~1api~1servicehealth~1status~1activeCM

  # Reports (new)
  /admin/api/reports/GetReportCategoryDetails:
    $ref: reports.yml#/paths/~1admin~1api~1reports~1GetReportCategoryDetails
  /admin/api/reports/GetReportTileData:
    $ref: reports.yml#/paths/~1admin~1api~1reports~1GetReportTileData
  /admin/api/reports/GetReportsWidgetConfig:
    $ref: reports.yml#/paths/~1admin~1api~1reports~1GetReportsWidgetConfig
  /admin/api/reports/config/GetTenantConfiguration:
    $ref: reports.yml#/paths/~1admin~1api~1reports~1config~1GetTenantConfiguration

  # Copilot (new)
  /admin/api/copilotsettings/settings/dismissed:
    $ref: copilot.yml#/paths/~1admin~1api~1copilotsettings~1settings~1dismissed

  # Agents (new)
  /admin/api/agentusers/metrics/agents/entitiesAtRisk:
    $ref: agents.yml#/paths/~1admin~1api~1agentusers~1metrics~1agents~1entitiesAtRisk

  # Directory Sync & Recommendations (new)
  /admin/api/dirsyncmanagement/hasobjectswithdirsyncerrors:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1dirsyncmanagement~1hasobjectswithdirsyncerrors
  /admin/api/dirsyncmanagement/manage:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1dirsyncmanagement~1manage
  /admin/api/irisrecommendations/v1:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1irisrecommendations~1v1
  /admin/api/recommendations/m365:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1recommendations~1m365
  /admin/api/recommendations/m365/BlockGenAIRecommendation/view:
    $ref: miscellaneous.yml#/paths/~1admin~1api~1recommendations~1m365~1BlockGenAIRecommendation~1view

  # Billing (new)
  /admin/api/syntexbilling/azureSubscriptions/{subscriptionId}/permissions:
    $ref: billing.yml#/paths/~1admin~1api~1syntexbilling~1azureSubscriptions~1{subscriptionId}~1permissions

  # Integrated Apps (new)
  /admin/api/privatecatalog/GetAddInDetails:
    $ref: integrated_apps.yml#/paths/~1admin~1api~1privatecatalog~1GetAddInDetails
