openapi: 3.0.1
info:
  title: Defender XDR
  description: |
    The Defender XDR API is used by the Microsoft Defender XDR portal (security.microsoft.com) for managing security operations, including:

      - Alerts and Incidents
      - Advanced Hunting
      - Endpoint Device Management (MDE)
      - Live Response
      - Endpoint Configuration
      - Vulnerability Management (TVM)
      - Identity Protection (MDI)
      - Configuration and Settings
      - Exposure Management and XSPM
      - Data Lake and Analytics
      - Threat Analytics
      - Action Center
      - Multi-Tenant Operations
      - Streaming API

    These APIs are accessed through the portal's API proxy layer at `security.microsoft.com/apiproxy` and support delegated authentication flows.
    They are used internally by the Defender XDR portal and are not officially documented by Microsoft.

    The proxy layer routes requests to various backend services using path prefixes:

    | Prefix | Service |
    | --- | --- |
    | `/mtp/` | Microsoft Threat Protection |
    | `/mdi/` | Microsoft Defender for Identity |
    | `/aatp/` | Azure Advanced Threat Protection (MDI legacy) |
    | `/mcas/` | Microsoft Cloud App Security (Defender for Cloud Apps) |
    | `/mdc/` | Microsoft Defender for Cloud |
    | `/mtoapi/` | Multi-Tenant Operations |
    | `/securityplatform/` | Security Platform (Data Lake) |
    | `/radius/` | RADIUS Identity Services |
    | `/di/` | Data Infrastructure (shared with Purview) |
    | `/gws/` | Governance Web Services (shared with Purview) |
    | `/medeina/` | Security Copilot (shared with Purview) |
    | `/cdssecuritycopilot/` | CDS Security Copilot (legacy, see /medeina/) |
    | `/msgraph/` | Microsoft Graph Proxy (shared with Purview) |
    | `/shell/` | Portal Shell (shared with Purview) |
    | `/astgws/` | Attack Simulator Gateway |
    | `/m365appprotection/` | App Governance |
    | `/ndr/` | Network Detection & Response |

    **Cross-portal shared services:** Several backend services are shared with the Microsoft Purview portal (purview.microsoft.com).
    The `/di/`, `/gws/`, `/medeina/`, `/msgraph/`, and `/shell/` prefixes route to the same backend services in both portals,
    though each portal may expose different subsets of endpoints.

    Documentation and specifications have been provided on a best efforts basis and may not be 100% accurate.

  version: '1.0'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://security.microsoft.com/apiproxy

security:
  - PortalSession: []

components:
  securitySchemes:
    PortalSession:
      type: apiKey
      in: cookie
      name: sccauth
      description: >-
        Session-based authentication via the Microsoft Defender XDR portal.
        Requires an authenticated browser session at security.microsoft.com.

tags:
  - name: Alerts
    description: Operations relating to alert management and retrieval.
  - name: Incidents
    description: Operations relating to incident management, merging, and alert correlation.
  - name: Advanced Hunting
    description: |
      Operations relating to Advanced Hunting, including schema discovery, saved functions,
      custom detection rules, and query encoding.
  - name: Endpoint Devices
    description: |
      Operations relating to endpoint device management in Microsoft Defender for Endpoint (MDE),
      including device inventory, tags, asset values, RBAC groups, and device actions.
  - name: Live Response
    description: |
      Operations relating to Live Response sessions on endpoint devices,
      including session management, command execution, file operations, and the script library.
  - name: Endpoint Configuration
    description: |
      Operations relating to endpoint configuration settings, including advanced features,
      preview features, custom collection rules, and workload-specific configurations.
  - name: Vulnerability Management
    description: |
      Operations relating to Threat and Vulnerability Management (TVM), including vulnerability
      listings, remediation tasks, product inventory, security advisories, and baselines.
  - name: Identity
    description: |
      Operations relating to Microsoft Defender for Identity (MDI), including user resolution,
      identity entities, service accounts, domain controller coverage, and configuration.
  - name: Configuration
    description: |
      Operations relating to Defender XDR platform configuration, including suppression rules,
      alert tuning, preview features, critical asset management, unified RBAC, and Cloud Apps settings.
  - name: Exposure Management
    description: |
      Operations relating to Exposure Management and Cross-Workload Security Posture Management (XSPM),
      including attack paths, choke points, entry points, targets, and recommendations.
  - name: Data Lake
    description: Operations relating to the security data lake, including database and table schema discovery.
  - name: Threat Analytics
    description: Operations relating to Threat Analytics reports and outbreak tracking.
  - name: Action Center
    description: Operations relating to the Action Center, including history and pending actions.
  - name: Multi-Tenant
    description: |
      Operations relating to multi-tenant management, including tenant listing,
      workload status, and cross-tenant advanced hunting.
  - name: Streaming API
    description: Operations relating to the Streaming API configuration for event export.
  - name: Secure Score
    description: Operations relating to Microsoft Secure Score, including score retrieval, control profiles, security initiatives, and insights.
  - name: Portal Services
    description: |
      Operations relating to miscellaneous Defender XDR portal services, including user preferences,
      shell info, Security Copilot, compliance checks, attack simulation, and app governance.

  - name: AttackSimulator
    description: Attack Simulator APIs (astgws service)
  - name: CloudApps
    description: Microsoft Defender for Cloud Apps (MCAS) APIs
  - name: AppGovernance
    description: App Governance APIs (m365appprotection service)

x-tagGroups:
  - name: Alerts & Incidents
    tags:
      - Alerts
      - Incidents
  - name: Advanced Hunting
    tags:
      - Advanced Hunting
  - name: Endpoint Management
    tags:
      - Endpoint Devices
      - Live Response
      - Endpoint Configuration
  - name: Vulnerability Management
    tags:
      - Vulnerability Management
  - name: Identity
    tags:
      - Identity
  - name: Configuration
    tags:
      - Configuration
  - name: Exposure Management
    tags:
      - Exposure Management
  - name: Analytics & Data
    tags:
      - Data Lake
      - Threat Analytics
  - name: Secure Score
    tags:
      - Secure Score
  - name: Operations
    tags:
      - Action Center
      - Multi-Tenant
      - Streaming API
  - name: Portal Services
    tags:
      - Portal Services
  - name: Attack Simulation
    tags:
      - AttackSimulator
  - name: Cloud Apps
    tags:
      - CloudApps
      - AppGovernance

paths:
  # Alerts & Incidents
  /mtp/alertsApiService/alerts:
    $ref: alerts_incidents.yml#/paths/~1mtp~1alertsApiService~1alerts
  /mtp/incidentQueue/incidents/{IncidentId}:
    $ref: alerts_incidents.yml#/paths/~1mtp~1incidentQueue~1incidents~1{IncidentId}
  /mtp/incidentQueue/incidents/alerts:
    $ref: alerts_incidents.yml#/paths/~1mtp~1incidentQueue~1incidents~1alerts
  /mtp/incidentQueue/incidents/update:
    $ref: alerts_incidents.yml#/paths/~1mtp~1incidentQueue~1incidents~1update
  /mtp/incidentQueue/incidents/merge:
    $ref: alerts_incidents.yml#/paths/~1mtp~1incidentQueue~1incidents~1merge

  /mtp/suppressionRulesService/RulesCount:
    $ref: alerts_incidents.yml#/paths/~1mtp~1suppressionRulesService~1RulesCount
  /mtp/incidentQueue/incidents/count:
    $ref: alerts_incidents.yml#/paths/~1mtp~1incidentQueue~1incidents~1count
  /mtp/alertsApiService/alerts/count:
    $ref: alerts_incidents.yml#/paths/~1mtp~1alertsApiService~1alerts~1count
  /mtp/incidentDashboard/Dashboard/ActiveIncidentsSummary:
    $ref: alerts_incidents.yml#/paths/~1mtp~1incidentDashboard~1Dashboard~1ActiveIncidentsSummary

  # Advanced Hunting
  /mtp/huntingService/schema:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1schema
  /mtp/huntingService/savedFunctions:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1savedFunctions
  /mtp/huntingService/functions/defender/savedfunctions/{Id}:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1functions~1defender~1savedfunctions~1{Id}
  /mtp/huntingService/rules/unified:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1rules~1unified
  /mtp/huntingService/reports/userHistory:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1reports~1userHistory
  /mtp/huntingService/queries/encode:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1queries~1encode
  /mtp/huntingService/savedfunctions:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1savedfunctions
  /mtp/huntingService/functions/defender/updateFunction:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1functions~1defender~1updateFunction
  /mtp/huntingService/functions/{Id}:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1functions~1{Id}

  /mtp/huntingService/documentation/GuidedHuntingGettingStarted:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1documentation~1GuidedHuntingGettingStarted
  /mtp/userPreferences/api/mgmt/userpreferencesservice/userPreference/advanced_hunting:
    $ref: advanced_hunting.yml#/paths/~1mtp~1userPreferences~1api~1mgmt~1userpreferencesservice~1userPreference~1advanced_hunting
  /mtp/userExposedRbacGroups/UserExposedRbacGroups:
    $ref: advanced_hunting.yml#/paths/~1mtp~1userExposedRbacGroups~1UserExposedRbacGroups
  /mtp/huntingService/favorites:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1favorites
  /mtp/huntingService/schema/functions:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1schema~1functions
  /mtp/huntingService/queries:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1queries
  /mtp/huntingService/communityQueries:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1communityQueries
  /mtp/huntingService/documentation/GettingStarted:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1documentation~1GettingStarted
  /mtp/huntingService/guidedQueries/filterSchema:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1guidedQueries~1filterSchema
  /mtp/huntingService/queries/defender/savedqueries/{id}:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1queries~1defender~1savedqueries~1{id}
  /mtp/huntingService/queries/defender/communityqueries/{id}:
    $ref: advanced_hunting.yml#/paths/~1mtp~1huntingService~1queries~1defender~1communityqueries~1{id}

  # Endpoint Devices
  /mtp/ndr/machines:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines
  /mtp/getMachine/machines:
    $ref: endpoint_devices.yml#/paths/~1mtp~1getMachine~1machines
  /mtp/machineTag/machineTags/{DeviceId}:
    $ref: endpoint_devices.yml#/paths/~1mtp~1machineTag~1machineTags~1{DeviceId}
  /mtp/machineTag/machineTag:
    $ref: endpoint_devices.yml#/paths/~1mtp~1machineTag~1machineTag
  /mtp/assetvalue/machineAssetValue:
    $ref: endpoint_devices.yml#/paths/~1mtp~1assetvalue~1machineAssetValue
  /mtp/assetvalue/setCriticalityLevel:
    $ref: endpoint_devices.yml#/paths/~1mtp~1assetvalue~1setCriticalityLevel
  /mtp/rbacGroupAssignment/updateMachineRbacGroupAssignments:
    $ref: endpoint_devices.yml#/paths/~1mtp~1rbacGroupAssignment~1updateMachineRbacGroupAssignments
  /mtp/rbacGroupAssignment/machineRbacGroupAssignments/{DeviceId}:
    $ref: endpoint_devices.yml#/paths/~1mtp~1rbacGroupAssignment~1machineRbacGroupAssignments~1{DeviceId}
  /mtp/rbacGroupAssignment/rbacGroupsScopes/{DeviceId}:
    $ref: endpoint_devices.yml#/paths/~1mtp~1rbacGroupAssignment~1rbacGroupsScopes~1{DeviceId}
  /mtp/machineExclusionState/updateMachineExclusionState:
    $ref: endpoint_devices.yml#/paths/~1mtp~1machineExclusionState~1updateMachineExclusionState
  /mtp/responseApiPortal/requests/create:
    $ref: endpoint_devices.yml#/paths/~1mtp~1responseApiPortal~1requests~1create
  /mtp/responseApiPortal/requests/{ActionId}:
    $ref: endpoint_devices.yml#/paths/~1mtp~1responseApiPortal~1requests~1{ActionId}
  /mtp/deviceTimeline/timeline/{DeviceId}:
    $ref: endpoint_devices.yml#/paths/~1mtp~1deviceTimeline~1timeline~1{DeviceId}
  /mtp/deviceManagement/deviceModels:
    $ref: endpoint_devices.yml#/paths/~1mtp~1deviceManagement~1deviceModels
  /mtp/deviceManagement/deviceVendors:
    $ref: endpoint_devices.yml#/paths/~1mtp~1deviceManagement~1deviceVendors
  /mtp/deviceManagement/osVersions:
    $ref: endpoint_devices.yml#/paths/~1mtp~1deviceManagement~1osVersions
  /mtp/deviceManagement/deviceTotals:
    $ref: endpoint_devices.yml#/paths/~1mtp~1deviceManagement~1deviceTotals
  /mtp/deviceManagement/windowsReleaseVersions:
    $ref: endpoint_devices.yml#/paths/~1mtp~1deviceManagement~1windowsReleaseVersions
  /mtp/deviceManagement/deviceLicenseReport:
    $ref: endpoint_devices.yml#/paths/~1mtp~1deviceManagement~1deviceLicenseReport

  /mtp/ndr/machines/devicesWithoutSiteTotals:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines~1devicesWithoutSiteTotals
  /mtp/ndr/machines/allMachinesTags:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines~1allMachinesTags
  /mtp/ndr/machines/allFirmwareVersions:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines~1allFirmwareVersions
  /mtp/ndr/machines/allVendors:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines~1allVendors
  /mtp/ndr/machines/allModels:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines~1allModels
  /mtp/ndr/machines/allOsVersionFriendlyNames:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines~1allOsVersionFriendlyNames
  /mtp/ndr/machines/allWindowsReleaseVersions:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines~1allWindowsReleaseVersions
  /mtp/ndr/machines/deviceTotals:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines~1deviceTotals
  /mtp/rbacManagementApi/rbac/machine_groups:
    $ref: endpoint_devices.yml#/paths/~1mtp~1rbacManagementApi~1rbac~1machine_groups
  /mtp/ndr/machines/deviceTypeDistribution:
    $ref: endpoint_devices.yml#/paths/~1mtp~1ndr~1machines~1deviceTypeDistribution
  /mtp/wdatpApi/machines:
    $ref: endpoint_devices.yml#/paths/~1mtp~1wdatpApi~1machines
  /mtp/mdi/tri/defensor/onboarding/devices/sensor_compatible_machines:
    $ref: endpoint_devices.yml#/paths/~1mtp~1mdi~1tri~1defensor~1onboarding~1devices~1sensor_compatible_machines

  # Live Response
  /mtp/liveResponseApi/create_session:
    $ref: live_response.yml#/paths/~1mtp~1liveResponseApi~1create_session
  /mtp/liveResponseApi/sessions/{sessionId}:
    $ref: live_response.yml#/paths/~1mtp~1liveResponseApi~1sessions~1{sessionId}
  /mtp/liveResponseApi/commands/{autoCommandId}:
    $ref: live_response.yml#/paths/~1mtp~1liveResponseApi~1commands~1{autoCommandId}
  /mtp/liveResponseApi/get_command_definitions:
    $ref: live_response.yml#/paths/~1mtp~1liveResponseApi~1get_command_definitions
  /mtp/liveResponseApi/download_file:
    $ref: live_response.yml#/paths/~1mtp~1liveResponseApi~1download_file
  /mtp/liveResponseApi/close_session:
    $ref: live_response.yml#/paths/~1mtp~1liveResponseApi~1close_session
  /mtp/liveResponseApi/library:
    $ref: live_response.yml#/paths/~1mtp~1liveResponseApi~1library
  /mtp/liveResponseApi/library/{FileId}:
    $ref: live_response.yml#/paths/~1mtp~1liveResponseApi~1library~1{FileId}

  /mtp/liveResponseApi/get_properties:
    $ref: live_response.yml#/paths/~1mtp~1liveResponseApi~1get_properties

  # Endpoint Configuration
  /mtp/settings/GetAdvancedFeaturesSetting:
    $ref: endpoint_configuration.yml#/paths/~1mtp~1settings~1GetAdvancedFeaturesSetting
  /mtp/settings/SaveAdvancedFeaturesSetting:
    $ref: endpoint_configuration.yml#/paths/~1mtp~1settings~1SaveAdvancedFeaturesSetting
  /mtp/settings/GetPreviewExperienceSetting:
    $ref: endpoint_configuration.yml#/paths/~1mtp~1settings~1GetPreviewExperienceSetting
  /mtp/customDataCollection/rules:
    $ref: endpoint_configuration.yml#/paths/~1mtp~1customDataCollection~1rules
  /mtp/customDataCollection/rules/{RuleId}:
    $ref: endpoint_configuration.yml#/paths/~1mtp~1customDataCollection~1rules~1{RuleId}
  /mtp/deviceManagement/configuration/AuthenticatedTelemetry:
    $ref: endpoint_configuration.yml#/paths/~1mtp~1deviceManagement~1configuration~1AuthenticatedTelemetry
  /mtp/deviceManagement/configuration/PotentiallyUnwantedApplications:
    $ref: endpoint_configuration.yml#/paths/~1mtp~1deviceManagement~1configuration~1PotentiallyUnwantedApplications
  /mtp/deviceManagement/configuration/IntuneConnection:
    $ref: endpoint_configuration.yml#/paths/~1mtp~1deviceManagement~1configuration~1IntuneConnection
  /mtp/deviceManagement/configuration/PurviewSharing:
    $ref: endpoint_configuration.yml#/paths/~1mtp~1deviceManagement~1configuration~1PurviewSharing

  # Vulnerability Management
  /mtp/tvm/analytics/vulnerabilities:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1vulnerabilities
  /mtp/tvm/analytics/vulnerabilities/summary:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1vulnerabilities~1summary
  /mtp/tvm/analytics/dashboard:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1dashboard
  /mtp/tvm/analytics/remediations:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1remediations
  /mtp/tvm/analytics/products:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1products
  /mtp/tvm/analytics/extensions:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1extensions
  /mtp/tvm/analytics/certificates:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1certificates
  /mtp/tvm/analytics/changeevents:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1changeevents
  /mtp/tvm/analytics/advisories:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1advisories
  /mtp/tvm/analytics/vulnerabilities/baseline:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1vulnerabilities~1baseline

  /mtp/tvm/analytics/recommendations/{recommendationId}/assetsStatistics:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1recommendations~1{recommendationId}~1assetsStatistics
  /mtp/tvm/orgsettings/provision/isEligible:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1orgsettings~1provision~1isEligible
  /mtp/tvm/analytics/recommendations/filters:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1recommendations~1filters
  /mtp/tvm/analytics/vulnerabilities/{cveId}/assets:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1vulnerabilities~1{cveId}~1assets
  /mtp/tvm/analytics/recommendations:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1analytics~1recommendations
  /mtp/tvm/orgsettings/vulnerability-notification-rules/metadata:
    $ref: vulnerability_management.yml#/paths/~1mtp~1tvm~1orgsettings~1vulnerability-notification-rules~1metadata
  /mtp/posture/oversight/tenants:
    $ref: vulnerability_management.yml#/paths/~1mtp~1posture~1oversight~1tenants

  # Identity (MDI)
  /mdi/identity/userapiservice/user/resolve:
    $ref: identity.yml#/paths/~1mdi~1identity~1userapiservice~1user~1resolve
  /mdi/identity/userapiservice/user/timeline:
    $ref: identity.yml#/paths/~1mdi~1identity~1userapiservice~1user~1timeline
  /mdi/identity/identitiesapiservice/identity/entities:
    $ref: identity.yml#/paths/~1mdi~1identity~1identitiesapiservice~1identity~1entities
  /mdi/identity/userapiservice/serviceaccount/entities:
    $ref: identity.yml#/paths/~1mdi~1identity~1userapiservice~1serviceaccount~1entities
  /mdi/identity/userapiservice/statistics:
    $ref: identity.yml#/paths/~1mdi~1identity~1userapiservice~1statistics
  /mdi/identity/identitiesapiservice/domainController/coverage:
    $ref: identity.yml#/paths/~1mdi~1identity~1identitiesapiservice~1domainController~1coverage
  /mdi/identity/userapiservice/status:
    $ref: identity.yml#/paths/~1mdi~1identity~1userapiservice~1status
  /mdi/identity/userapiservice/alertThreshold:
    $ref: identity.yml#/paths/~1mdi~1identity~1userapiservice~1alertThreshold
  /mdi/identity/userapiservice/directoryServiceAccount:
    $ref: identity.yml#/paths/~1mdi~1identity~1userapiservice~1directoryServiceAccount
  /mdi/identity/identitiesapiservice/remediationAccount:
    $ref: identity.yml#/paths/~1mdi~1identity~1identitiesapiservice~1remediationAccount

  /aatp/api/sensors/domainControllerCoverage:
    $ref: identity.yml#/paths/~1aatp~1api~1sensors~1domainControllerCoverage
  /aatp/odata/sensors:
    $ref: identity.yml#/paths/~1aatp~1odata~1sensors
  /aatp/api/sensors/sensorsCoverage:
    $ref: identity.yml#/paths/~1aatp~1api~1sensors~1sensorsCoverage
  /aatp/api/alertthresholds/withExpiry:
    $ref: identity.yml#/paths/~1aatp~1api~1alertthresholds~1withExpiry
  /aatp/api/remediationActions/configuration:
    $ref: identity.yml#/paths/~1aatp~1api~1remediationActions~1configuration
  /aatp/odata/EntityRemediatorCredentials:
    $ref: identity.yml#/paths/~1aatp~1odata~1EntityRemediatorCredentials
  /aatp/api/defensor/defensorConfiguration:
    $ref: identity.yml#/paths/~1aatp~1api~1defensor~1defensorConfiguration

  /aatp/api/alertthresholds/withExpiry/recommendedTestMode:
    $ref: identity.yml#/paths/~1aatp~1api~1alertthresholds~1withExpiry~1recommendedTestMode
  /aatp/api/mtp/applicationData:
    $ref: identity.yml#/paths/~1aatp~1api~1mtp~1applicationData
  /aatp/api/mtp/vpnConfiguration:
    $ref: identity.yml#/paths/~1aatp~1api~1mtp~1vpnConfiguration
  /aatp/api/unifiedrbac/scopes:
    $ref: identity.yml#/paths/~1aatp~1api~1unifiedrbac~1scopes
  /aatp/api/unifiedrbac/usedScopes:
    $ref: identity.yml#/paths/~1aatp~1api~1unifiedrbac~1usedScopes
  /aatp/api/workspace/configuration/scopedHealthNotifications:
    $ref: identity.yml#/paths/~1aatp~1api~1workspace~1configuration~1scopedHealthNotifications
  /aatp/api/workspace/configuration/syslog:
    $ref: identity.yml#/paths/~1aatp~1api~1workspace~1configuration~1syslog
  /aatp/api/workspace/isActive:
    $ref: identity.yml#/paths/~1aatp~1api~1workspace~1isActive
  /aatp/api/workspaces/isWorkspaceExists:
    $ref: identity.yml#/paths/~1aatp~1api~1workspaces~1isWorkspaceExists
  /aatp/odata/ExclusionEntityDatas/Global:
    $ref: identity.yml#/paths/~1aatp~1odata~1ExclusionEntityDatas~1Global
  /aatp/odata/SecurityAlertExclusionDatas:
    $ref: identity.yml#/paths/~1aatp~1odata~1SecurityAlertExclusionDatas
  /aatp/odata/TaggedSecurityPrincipals:
    $ref: identity.yml#/paths/~1aatp~1odata~1TaggedSecurityPrincipals
  /aatp/odata/directoryServices:
    $ref: identity.yml#/paths/~1aatp~1odata~1directoryServices
  /aatp/odata/workspaceMonitoringAlerts:
    $ref: identity.yml#/paths/~1aatp~1odata~1workspaceMonitoringAlerts

  # Attack Simulation
  /astgws/AttackSimulator/api/v1/AdvanceReporting/chart/NRT/RepeatOffender:
    $ref: attack_simulator.yml#/paths/~1astgws~1AttackSimulator~1api~1v1~1AdvanceReporting~1chart~1NRT~1RepeatOffender
  /astgws/AttackSimulator/api/v1/AdvanceReporting/chart/NRT/TrainingCompletion:
    $ref: attack_simulator.yml#/paths/~1astgws~1AttackSimulator~1api~1v1~1AdvanceReporting~1chart~1NRT~1TrainingCompletion
  /astgws/AttackSimulator/api/v1/AdvanceReporting/chart/TrainingEfficacy:
    $ref: attack_simulator.yml#/paths/~1astgws~1AttackSimulator~1api~1v1~1AdvanceReporting~1chart~1TrainingEfficacy
  /astgws/AttackSimulator/api/v1/Recommendations:
    $ref: attack_simulator.yml#/paths/~1astgws~1AttackSimulator~1api~1v1~1Recommendations
  /astgws/AttackSimulator/api/v1/Simulations:
    $ref: attack_simulator.yml#/paths/~1astgws~1AttackSimulator~1api~1v1~1Simulations
  /astgws/AttackSimulator/api/v1/campaignSettings:
    $ref: attack_simulator.yml#/paths/~1astgws~1AttackSimulator~1api~1v1~1campaignSettings
  /astgws/AttackSimulator/api/v1/userProfileType:
    $ref: attack_simulator.yml#/paths/~1astgws~1AttackSimulator~1api~1v1~1userProfileType

  # Configuration
  /mtp/suppressionRulesService/suppressionRules:
    $ref: configuration.yml#/paths/~1mtp~1suppressionRulesService~1suppressionRules
  /mtp/alertsApiService/workloads/disabled:
    $ref: configuration.yml#/paths/~1mtp~1alertsApiService~1workloads~1disabled
  /mtp/ndr/rulesengine/rules:
    $ref: configuration.yml#/paths/~1mtp~1ndr~1rulesengine~1rules
  /mcas/cas/api/v1/preview_features/get:
    $ref: configuration.yml#/paths/~1mcas~1cas~1api~1v1~1preview_features~1get
  /mdc/management/optin:
    $ref: configuration.yml#/paths/~1mdc~1management~1optin
  /mtp/settings/SavePreviewExperienceSetting:
    $ref: configuration.yml#/paths/~1mtp~1settings~1SavePreviewExperienceSetting
  /mcas/cas/api/v1/preview_features/update:
    $ref: configuration.yml#/paths/~1mcas~1cas~1api~1v1~1preview_features~1update
  /mtp/sccManagement/mgmt/TenantContext:
    $ref: configuration.yml#/paths/~1mtp~1sccManagement~1mgmt~1TenantContext
  /mtp/xspmatlas/assetrules:
    $ref: configuration.yml#/paths/~1mtp~1xspmatlas~1assetrules
  /mtp/xspmatlas/assetrules/querybuilder/assets/{encodedRuleName}:
    $ref: configuration.yml#/paths/~1mtp~1xspmatlas~1assetrules~1querybuilder~1assets~1{encodedRuleName}
  /mtp/xspmatlas/assetrules/querybuilder/schema:
    $ref: configuration.yml#/paths/~1mtp~1xspmatlas~1assetrules~1querybuilder~1schema
  /radius/api/radius/serviceaccounts/classificationrule/getall:
    $ref: configuration.yml#/paths/~1radius~1api~1radius~1serviceaccounts~1classificationrule~1getall
  /mtp/urbacConfiguration/gw/unifiedrbac/configuration/tenantinfo:
    $ref: configuration.yml#/paths/~1mtp~1urbacConfiguration~1gw~1unifiedrbac~1configuration~1tenantinfo
  /mcas/cas/api/v1/settings:
    $ref: configuration.yml#/paths/~1mcas~1cas~1api~1v1~1settings

  /mtp/autoIr/ui/properties:
    $ref: configuration.yml#/paths/~1mtp~1autoIr~1ui~1properties
  /mtp/wdatpInternalApi/compliance/alertSharing/status:
    $ref: configuration.yml#/paths/~1mtp~1wdatpInternalApi~1compliance~1alertSharing~1status
  /mtp/responseApiPortal/onboarding/intune/status:
    $ref: configuration.yml#/paths/~1mtp~1responseApiPortal~1onboarding~1intune~1status
  /mtp/responseApiPortal/senseauth/allownonauthsense:
    $ref: configuration.yml#/paths/~1mtp~1responseApiPortal~1senseauth~1allownonauthsense

  # Cloud Apps
  /mcas/api/v1/autocomplete/app-permission-names:
    $ref: cloud_apps.yml#/paths/~1mcas~1api~1v1~1autocomplete~1app-permission-names
  /mcas/api/v1/autocomplete/app-permission-permissions:
    $ref: cloud_apps.yml#/paths/~1mcas~1api~1v1~1autocomplete~1app-permission-permissions
  /mcas/cas/api/services:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1services
  /mcas/cas/api/v1/activities:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1activities
  /mcas/cas/api/v1/activities/count:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1activities~1count
  /mcas/cas/api/v1/activities/get_activities_threat_scores:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1activities~1get_activities_threat_scores
  /mcas/cas/api/v1/activities/metadata:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1activities~1metadata
  /mcas/cas/api/v1/app_connectors:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1app_connectors
  /mcas/cas/api/v1/app_connectors/count:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1app_connectors~1count
  /mcas/cas/api/v1/app_connectors/dashboard/get_apps_count_by_status:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1app_connectors~1dashboard~1get_apps_count_by_status
  /mcas/cas/api/v1/app_connectors/last_activity:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1app_connectors~1last_activity
  /mcas/cas/api/v1/app_connectors/metadata:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1app_connectors~1metadata
  /mcas/cas/api/v1/app_connectors/table_config_values:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1app_connectors~1table_config_values
  /mcas/cas/api/v1/app_permissions:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1app_permissions
  /mcas/cas/api/v1/app_permissions/count:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1app_permissions~1count
  /mcas/cas/api/v1/app_permissions/metadata:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1app_permissions~1metadata
  /mcas/cas/api/v1/autocomplete/entities:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1autocomplete~1entities
  /mcas/cas/api/v1/connected_services/apps:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1connected_services~1apps
  /mcas/cas/api/v1/connected_services/instances:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1connected_services~1instances
  /mcas/cas/api/v1/discovery/categories:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1discovery~1categories
  /mcas/cas/api/v1/entities/metadata:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1entities~1metadata
  /mcas/cas/api/v1/governance:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1governance
  /mcas/cas/api/v1/governance/count:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1governance~1count
  /mcas/cas/api/v1/governance/metadata:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1governance~1metadata
  /mcas/cas/api/v1/policies:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1policies
  /mcas/cas/api/v1/standalone_entities/metadata:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1standalone_entities~1metadata
  /mcas/cas/api/v1/translation/log-error:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1translation~1log-error
  /mcas/cas/api/v1/user_queries:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1api~1v1~1user_queries
  /mcas/cas/boot_constants:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1boot_constants
  /mcas/cas/update_usage_info:
    $ref: cloud_apps.yml#/paths/~1mcas~1cas~1update_usage_info
  /m365appprotection/mapg-glsservice/compliance/getUserProfile:
    $ref: cloud_apps.yml#/paths/~1m365appprotection~1mapg-glsservice~1compliance~1getUserProfile

  # Exposure Management
  /mtp/xspm/attackpaths:
    $ref: exposure_management.yml#/paths/~1mtp~1xspm~1attackpaths
  /mtp/xspm/chokepoints:
    $ref: exposure_management.yml#/paths/~1mtp~1xspm~1chokepoints
  /mtp/xspm/topentrypoints:
    $ref: exposure_management.yml#/paths/~1mtp~1xspm~1topentrypoints
  /mtp/xspm/toptargets:
    $ref: exposure_management.yml#/paths/~1mtp~1xspm~1toptargets
  /mtp/xspm/hunting:
    $ref: exposure_management.yml#/paths/~1mtp~1xspm~1hunting
  /mtp/exposureManagement/recommendations:
    $ref: exposure_management.yml#/paths/~1mtp~1exposureManagement~1recommendations

  # Data Lake
  /securityplatform/lake/databases:
    $ref: data_lake.yml#/paths/~1securityplatform~1lake~1databases
  /securityplatform/lake/kql/v1/rest/mgmt:
    $ref: data_lake.yml#/paths/~1securityplatform~1lake~1kql~1v1~1rest~1mgmt

  /securityplatform/sentinelgraph/provisioning/checkTenant:
    $ref: data_lake.yml#/paths/~1securityplatform~1sentinelgraph~1provisioning~1checkTenant

  # Threat Analytics
  /mtp/threatAnalyticsAPI/outbreaks:
    $ref: threat_analytics.yml#/paths/~1mtp~1threatAnalyticsAPI~1outbreaks

  /mtp/threatAnalytics/outbreaks/changeCount:
    $ref: threat_analytics.yml#/paths/~1mtp~1threatAnalytics~1outbreaks~1changeCount
  /mtp/threatAnalytics/outbreaks/outbreaksEnrichedDataMtp:
    $ref: threat_analytics.yml#/paths/~1mtp~1threatAnalytics~1outbreaks~1outbreaksEnrichedDataMtp
  /mtp/threatAnalytics/outbreaks/topthreats:
    $ref: threat_analytics.yml#/paths/~1mtp~1threatAnalytics~1outbreaks~1topthreats

  # Action Center
  /mtp/actionCenter/actioncenterui/history-actions:
    $ref: action_center.yml#/paths/~1mtp~1actionCenter~1actioncenterui~1history-actions
  /mtp/actionCenter/actioncenterui/pending-actions:
    $ref: action_center.yml#/paths/~1mtp~1actionCenter~1actioncenterui~1pending-actions

  /mtp/actionCenter/actioncenterui/pending-actions/filters:
    $ref: action_center.yml#/paths/~1mtp~1actionCenter~1actioncenterui~1pending-actions~1filters
  /mtp/actionCenter/actioncenterui/history-actions/filters:
    $ref: action_center.yml#/paths/~1mtp~1actionCenter~1actioncenterui~1history-actions~1filters
  /mtp/actionCenter/actioncenterui/tile:
    $ref: action_center.yml#/paths/~1mtp~1actionCenter~1actioncenterui~1tile
  /mtp/actionCenter/actioncenterui/pending-actions/pending-actions-summary:
    $ref: action_center.yml#/paths/~1mtp~1actionCenter~1actioncenterui~1pending-actions~1pending-actions-summary

  # Multi-Tenant
  /mtoapi/recentItems:
    $ref: multi_tenant.yml#/paths/~1mtoapi~1recentItems
  /mtoapi/tenants/TenantPicker:
    $ref: multi_tenant.yml#/paths/~1mtoapi~1tenants~1TenantPicker
  /mtoapi/tenants/{TenantId}/workloadStatus:
    $ref: multi_tenant.yml#/paths/~1mtoapi~1tenants~1{TenantId}~1workloadStatus
  /mtoapi/tenants/{TenantId}/huntingQueries/run:
    $ref: multi_tenant.yml#/paths/~1mtoapi~1tenants~1{TenantId}~1huntingQueries~1run

  # Streaming API
  /mtp/streamingapi/streamingApiConfiguration:
    $ref: streaming.yml#/paths/~1mtp~1streamingapi~1streamingApiConfiguration

  # Secure Score
  /mtp/secureScore/security/secureScoresV2:
    $ref: secure_score.yml#/paths/~1mtp~1secureScore~1security~1secureScoresV2
  /mtp/secureScore/security/secureScoreControlProfilesV2:
    $ref: secure_score.yml#/paths/~1mtp~1secureScore~1security~1secureScoreControlProfilesV2
  /mtp/secureScore/security/secureScoreSecurityInitiativesV2:
    $ref: secure_score.yml#/paths/~1mtp~1secureScore~1security~1secureScoreSecurityInitiativesV2
  /mtp/secureScore/security/secureScoreTenantProfile:
    $ref: secure_score.yml#/paths/~1mtp~1secureScore~1security~1secureScoreTenantProfile
  /mtp/secureScore/security/secureScoreInsights:
    $ref: secure_score.yml#/paths/~1mtp~1secureScore~1security~1secureScoreInsights

  # Portal Services
  /mtp/userPreferences/api/mgmt/userpreferencesservice/userPreference:
    $ref: portal_services.yml#/paths/~1mtp~1userPreferences~1api~1mgmt~1userpreferencesservice~1userPreference
  /mtp/userPreferences/api/mgmt/userpreferencesservice/userPreference/alwaysUseUtc:
    $ref: portal_services.yml#/paths/~1mtp~1userPreferences~1api~1mgmt~1userpreferencesservice~1userPreference~1alwaysUseUtc
  /mtp/mdepDnH/reports/machineHealth/healthStatus:
    $ref: portal_services.yml#/paths/~1mtp~1mdepDnH~1reports~1machineHealth~1healthStatus
  /shell/api/shell/shellinfo:
    $ref: portal_services.yml#/paths/~1shell~1api~1shell~1shellinfo
  /medeina/auth:
    $ref: portal_services.yml#/paths/~1medeina~1auth
  /cdssecuritycopilot/trial:
    $ref: portal_services.yml#/paths/~1cdssecuritycopilot~1trial
  /msgraph/v1.0/users:
    $ref: portal_services.yml#/paths/~1msgraph~1v1.0~1users
  /msgraph/v1.0/subscribedSkus:
    $ref: portal_services.yml#/paths/~1msgraph~1v1.0~1subscribedSkus
  /di/Find/TrialOffer:
    $ref: portal_services.yml#/paths/~1di~1Find~1TrialOffer
  /di/Find/CustomTag:
    $ref: portal_services.yml#/paths/~1di~1Find~1CustomTag
  /di/Aggregate/ThreatInstanceList:
    $ref: portal_services.yml#/paths/~1di~1Aggregate~1ThreatInstanceList
  /di/Aggregate/ThreatProfileDetails:
    $ref: portal_services.yml#/paths/~1di~1Aggregate~1ThreatProfileDetails
  /gws/ComplianceAuthServer/v1.0/IsAllowedPermissionWithScopes:
    $ref: portal_services.yml#/paths/~1gws~1ComplianceAuthServer~1v1.0~1IsAllowedPermissionWithScopes
  /astgws/AttackSimulator/api/v1/AdvanceReporting/chart/UserCoverage:
    $ref: portal_services.yml#/paths/~1astgws~1AttackSimulator~1api~1v1~1AdvanceReporting~1chart~1UserCoverage
  /admin/Beta/{tenantId}/InvokeCommand:
    $ref: portal_services.yml#/paths/~1admin~1Beta~1{tenantId}~1InvokeCommand
  /m365appprotection/mapg-glsservice/compliance/istenantonboarded:
    $ref: portal_services.yml#/paths/~1m365appprotection~1mapg-glsservice~1compliance~1istenantonboarded
  /m365appprotection/mapg-glsservice/compliance/istenantinsightsready:
    $ref: portal_services.yml#/paths/~1m365appprotection~1mapg-glsservice~1compliance~1istenantinsightsready
