openapi: 3.0.1
info:
  title: Purview
  x-nodoc-category: Purview
  description: |
    The Purview API is used by the Microsoft Purview portal (purview.microsoft.com) for managing compliance, governance, and data security, including:

      - Data Infrastructure (entity discovery and search)
      - eDiscovery case management
      - Compliance Manager assessments and exports
      - Audit log search
      - Governance Web Services (authorization, DLM, classification)
      - Communication Compliance supervision
      - Data Governance Services
      - Data Security Investigations
      - Purview for AI, DSPM for AI, and oversharing assessments
      - Security Copilot integration
      - Microsoft Graph proxy
      - Platform Services (shell, IRIS, Azure Purview)
      - Billing and license usage
      - DLP device management and endpoint DLP log collection
      - Insider Risk Management and connector settings
      - Information Protection settings and Rights Management
      - Exchange-backed compliance admin commands
      - SharePoint Online settings

    These APIs are accessed through the portal's API proxy layer at `purview.microsoft.com/apiproxy` and support delegated authentication flows.
    Same-origin portal bootstrap and `/api/` routes are documented separately in the `Purview Portal` spec.
    They are used internally by the Purview portal and are not officially documented by Microsoft.

    The proxy layer routes requests to various backend services using path prefixes:

    | Prefix | Service |
    | --- | --- |
    | `/di/` | Data Infrastructure (entity discovery/search) — shared with Defender XDR |
    | `/aedmcc/` | Advanced eDiscovery & Content Search |
    | `/cpm/` | Compliance Manager |
    | `/adtsch/` | Audit Search |
    | `/gws/` | Governance Web Services (authorization/DLM) — shared with Defender XDR |
    | `/dgs/` | Data Governance Services |
    | `/dsi/` | Data Security Investigations |
    | `/oversharing/` | Purview for AI oversharing service |
    | `/medeina/` | Security Copilot (Medeina) — shared with Defender XDR |
    | `/cdssecuritycopilot/` | CDS Security Copilot (legacy, see /medeina/) |
    | `/securityplatform/` | Security Platform / Security Copilot provisioning |
    | `/msgraph/` | Microsoft Graph Proxy — shared with Defender XDR |
    | `/purviewplatform/` | Purview Platform |
    | `/cbill/` | Purview Billing |
    | `/mtp/` | Microsoft Threat Protection (DLP devices) — shared with Defender XDR |
    | `/edlp/` | Endpoint DLP log collection service |
    | `/insiderrisk/` | Insider Risk Management |
    | `/mcas/` | Defender for Cloud Apps connectors |
      | `/WdatpPublicApi/` | Information Rights Management status |
      | `/aip/` | Azure Information Protection settings |
      | `/rms/` | Rights Management tracking and revocation |
      | `/admin/` | Exchange-backed compliance admin proxy |
      | `/spo/` | SharePoint Online |
      | `/arm/` | Azure Resource Manager proxy |
      | `/shell/` | Portal Shell — shared with Defender XDR |
      | `/iris/` | IRIS Feature Selection |
      | `/azurepurview/` | Azure Purview |
    | `/ocps/` | Office Configuration |
    | `/Ingestion/` | Compliance Ingestion |

    **Cross-portal shared services:** Several backend services are shared with the Microsoft Defender XDR portal (security.microsoft.com).
    The `/di/`, `/gws/`, `/medeina/`, `/msgraph/`, `/mtp/`, and `/shell/` prefixes route to the same backend services in both portals.
    Purview is the primary consumer of `/di/` (Data Infrastructure) with 21+ endpoints for entity discovery and search.
    The `/gws/` (Governance Web Services) prefix provides shared authorization and permission validation across both portals.

    Documentation and specifications have been provided on a best efforts basis and may not be 100% accurate.

  version: '1.0'
  contact:
    name: nodoc
    url: https://github.com/nathanmcnulty/nodoc
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://purview.microsoft.com/apiproxy
    description: Purview API proxy used by the purview.microsoft.com portal

security:
  - PortalSession: []

components:
  securitySchemes:
    PortalSession:
      type: apiKey
      in: cookie
      name: sccauth
      description: >-
        Session-based authentication via the Microsoft Purview portal.
        Requires an authenticated browser session at purview.microsoft.com.

tags:
  - name: DataInfrastructure
    x-displayName: Data infrastructure
    description: |
      Operations relating to the Data Infrastructure service, which powers entity discovery
      across all Purview solutions including DLP, sensitivity labels, policies, and compliance tags.
  - name: eDiscovery
    description: |
      Operations relating to eDiscovery case management via the AEDMCC service,
      including case listing, settings, favorites, view state, and roles mapping.
  - name: ComplianceManager
    x-displayName: Compliance Manager
    description: |
      Operations relating to Compliance Manager, including compliance posture summaries,
      assessments, user context, filters, and native connector ingestion.
  - name: CommunicationCompliance
    description: |
      Operations relating to Communication Compliance and supervision policy reads
      surfaced within the Purview portal.
  - name: Audit
    description: Operations relating to audit log search and audit enablement status.
  - name: GovernanceServices
    x-displayName: Governance services
    description: |
      Operations relating to Governance Web Services for authorization, data lifecycle
      management (DLM), and trainable classifier model metadata.
  - name: DataGovernance
    x-displayName: Data governance
    description: |
      Operations relating to Data Governance Services for aggregates, licensing,
      and classification type definitions.
  - name: DataSecurityInvestigations
    x-displayName: Data Security Investigations
    description: |
      Operations relating to Data Security Investigations (DSI), including
      investigation inventory and solution bootstrap data.
  - name: PurviewForAI
    description: |
      Operations relating to Purview for AI, DSPM for AI, oversharing assessments,
      agent observability, and Microsoft 365 Copilot-specific insight surfaces.
  - name: Copilot
    description: |
      Operations relating to Security Copilot (Medeina) and CDS Security Copilot,
      including authentication, data sharing settings, agents, and trial status.
  - name: GraphProxy
    x-displayName: Microsoft Graph proxy
    description: |
      Operations relating to Microsoft Graph API endpoints proxied through Purview,
      including subscribed SKUs, role assignments, conditional access, and service announcements.
  - name: PlatformServices
    x-displayName: Platform services
    description: |
      Operations relating to Purview Platform infrastructure, portal shell configuration,
      IRIS feature selection, Azure Purview accounts, and Office Configuration policies.
  - name: Billing
    description: Operations relating to Purview billing, licensing, and free trial offers.
  - name: InformationProtection
    description: |
      Operations relating to Purview Information Protection settings, Azure
      Information Protection metadata, and Rights Management tracking/revocation.
  - name: ExchangeAdmin
    description: |
      Operations relating to Exchange-backed compliance admin command invocation
      through the Purview portal proxy.
  - name: DLPDevices
    x-displayName: DLP devices
    description: |
      Operations relating to DLP device management and incident alerts,
      proxied through Microsoft Threat Protection (MTP).
  - name: InsiderRisk
    x-displayName: Insider risk
    description: Operations relating to Insider Risk Management analytics and insight metadata.
  - name: SharePoint
    description: Operations relating to SharePoint Online tenant settings proxied through Purview.

x-tagGroups:
  - name: Data Security
    tags:
      - DataInfrastructure
      - DataGovernance
      - DataSecurityInvestigations
  - name: Compliance
    tags:
      - ComplianceManager
      - CommunicationCompliance
      - Audit
      - GovernanceServices
  - name: Information Protection
    tags:
      - InformationProtection
      - ExchangeAdmin
      - DLPDevices
      - InsiderRisk
      - SharePoint
  - name: eDiscovery
    tags:
      - eDiscovery
  - name: AI & Copilot
    tags:
      - PurviewForAI
      - Copilot
  - name: Platform
    tags:
      - PlatformServices
      - GraphProxy
      - Billing

externalDocs:
  description: Checked-in source specification and supporting modules.
  url: https://github.com/nathanmcnulty/nodoc/tree/main/specifications/nodoc-purview/specification

paths:
  # Data Infrastructure
  /di/find/DlpAlertAgentPolicyInsights:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1DlpAlertAgentPolicyInsights'
  /di/Find/TrialOffer:
    $ref: 'data_infrastructure.yml#/paths/~1di~1Find~1TrialOffer'
  /di/find/ProtectionCompliancePolicy:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1ProtectionCompliancePolicy'
  /di/find/MIPSavedQuery:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1MIPSavedQuery'
  /di/find/Alert:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1Alert'
  /di/find/AppRetentionCompliancePolicy:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1AppRetentionCompliancePolicy'
  /di/find/PolicyConfig:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1PolicyConfig'
  /di/find/DlpComplianceRule:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1DlpComplianceRule'
  /di/find/DlpCompliancePolicy:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1DlpCompliancePolicy'
  /di/find/LabelPolicy:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1LabelPolicy'
  /di/find/AutoSensitivityLabelPolicy:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1AutoSensitivityLabelPolicy'
  /di/find/DlpSensitiveInformationType:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1DlpSensitiveInformationType'
  /di/find/Label:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1Label'
  /di/find/DlpEdmSchema:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1DlpEdmSchema'
  /di/find/ComplianceTag:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1ComplianceTag'
  /di/find/FeatureConfiguration:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1FeatureConfiguration'
  /di/find/MipAnalyticsTenantSettings:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1MipAnalyticsTenantSettings'
  /di/find/InsiderRiskEntityList:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1InsiderRiskEntityList'
  /di/find/InsiderRiskPolicy:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1InsiderRiskPolicy'
  /di/find/RiskSpotlightingInsight:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1RiskSpotlightingInsight'
  /di/find/RetentionEvent:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1RetentionEvent'
  /di/find/CustomTag:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1CustomTag'
  /di/find/ProtectionAlert:
    $ref: 'data_infrastructure.yml#/paths/~1di~1find~1ProtectionAlert'
  /di/search/LabelAnalyticsActivityData:
    $ref: 'data_infrastructure.yml#/paths/~1di~1search~1LabelAnalyticsActivityData'

  # eDiscovery
  /aedmcc/ediscovery/v1/getViewState:
    $ref: 'ediscovery.yml#/paths/~1aedmcc~1ediscovery~1v1~1getViewState'
  /aedmcc/ediscovery/v1/getFavorites:
    $ref: 'ediscovery.yml#/paths/~1aedmcc~1ediscovery~1v1~1getFavorites'
  /aedmcc/ediscovery/v1/purviewcases:
    $ref: 'ediscovery.yml#/paths/~1aedmcc~1ediscovery~1v1~1purviewcases'
  "/aedmcc/ediscovery/v1/purviewcases('{caseId}')":
    $ref: "ediscovery.yml#/paths/~1aedmcc~1ediscovery~1v1~1purviewcases('{caseId}')"
  "/aedmcc/ediscovery/v1/cases('{caseId}')/setting":
    $ref: "ediscovery.yml#/paths/~1aedmcc~1ediscovery~1v1~1cases('{caseId}')~1setting"
  /aedmcc/ediscovery/v1/setViewState:
    $ref: 'ediscovery.yml#/paths/~1aedmcc~1ediscovery~1v1~1setViewState'
  /aedmcc/ediscovery/v1/getEDiscoveryRolesMapping:
    $ref: 'ediscovery.yml#/paths/~1aedmcc~1ediscovery~1v1~1getEDiscoveryRolesMapping'
  /aedmcc/ediscovery/v1/tenantSettings:
    $ref: 'ediscovery.yml#/paths/~1aedmcc~1ediscovery~1v1~1tenantSettings'

  # Compliance Manager
  /cpm/v1.0/Tenant/CompliancePostureSummary:
    $ref: 'compliance_manager.yml#/paths/~1cpm~1v1.0~1Tenant~1CompliancePostureSummary'
  /cpm/v1.0/ApplicationUserContext:
    $ref: 'compliance_manager.yml#/paths/~1cpm~1v1.0~1ApplicationUserContext'
  /cpm/v1.0/Assessments/List:
    $ref: 'compliance_manager.yml#/paths/~1cpm~1v1.0~1Assessments~1List'
  /cpm/v1.0/Users/Profile:
    $ref: 'compliance_manager.yml#/paths/~1cpm~1v1.0~1Users~1Profile'
  /cpm/v1.0/Tenant/Filters:
    $ref: 'compliance_manager.yml#/paths/~1cpm~1v1.0~1Tenant~1Filters'
  /cpm/v1.0/Regulations/PremiumRegulationSummary:
    $ref: 'compliance_manager.yml#/paths/~1cpm~1v1.0~1Regulations~1PremiumRegulationSummary'
  /cpm/v1.0/Reporting/Export:
    $ref: 'compliance_manager.yml#/paths/~1cpm~1v1.0~1Reporting~1Export'
  /cpm/v1.0/RegulationTemplates:
    $ref: 'compliance_manager.yml#/paths/~1cpm~1v1.0~1RegulationTemplates'
  /Ingestion/NativeConnectorJob:
    $ref: 'compliance_manager.yml#/paths/~1Ingestion~1NativeConnectorJob'

  # Audit
  /adtsch/AuditLogSearch:
    $ref: 'audit.yml#/paths/~1adtsch~1AuditLogSearch'
  /adtsch/AuditEnabled:
    $ref: 'audit.yml#/paths/~1adtsch~1AuditEnabled'

  # Governance Services
  /gws/ComplianceAuthServer/v1.0/IsAllowedPermissionWithScopes:
    $ref: 'governance_services.yml#/paths/~1gws~1ComplianceAuthServer~1v1.0~1IsAllowedPermissionWithScopes'
  /gws/ComplianceAuthServer/v1.0/GetUserRolesWithScopeInfo:
    $ref: 'governance_services.yml#/paths/~1gws~1ComplianceAuthServer~1v1.0~1GetUserRolesWithScopeInfo'
  /gws/ComplianceAuthServer/v1.0/GetGrantedPermissions:
    $ref: 'governance_services.yml#/paths/~1gws~1ComplianceAuthServer~1v1.0~1GetGrantedPermissions'
  /gws/ComplianceAuthServer/v1.0/GetUserRoles:
    $ref: 'governance_services.yml#/paths/~1gws~1ComplianceAuthServer~1v1.0~1GetUserRoles'
  /gws/DlmServices/api/v1.0/disposition/DispositionStatistics:
    $ref: 'governance_services.yml#/paths/~1gws~1DlmServices~1api~1v1.0~1disposition~1DispositionStatistics'
  "/gws/ipmlservice/CategoryTrainingModel//ModelMetadata":
    $ref: "governance_services.yml#/paths/~1gws~1ipmlservice~1CategoryTrainingModel~1~1ModelMetadata"
  /gws/ipmlservice/CategoryTrainingModel/ModelMetadata:
    $ref: 'governance_services.yml#/paths/~1gws~1ipmlservice~1CategoryTrainingModel~1ModelMetadata'

  # Communication Compliance
  /gws/CommsComplianceService/api/v1/Supervision/Policy:
    $ref: 'communication_compliance.yml#/paths/~1gws~1CommsComplianceService~1api~1v1~1Supervision~1Policy'
  /gws/CommsComplianceService/api/v1/Supervision/Policy/GetSelectedSITsForSITIndicator:
    $ref: 'communication_compliance.yml#/paths/~1gws~1CommsComplianceService~1api~1v1~1Supervision~1Policy~1GetSelectedSITsForSITIndicator'
  /gws/CommsComplianceService/api/v1/Supervision/ServiceSettings:
    $ref: 'communication_compliance.yml#/paths/~1gws~1CommsComplianceService~1api~1v1~1Supervision~1ServiceSettings'

  # Data Governance
  /dgs/Item/GetTenantLicense:
    $ref: 'data_governance.yml#/paths/~1dgs~1Item~1GetTenantLicense'
  /dgs/aggregate/GetTypeAggregates:
    $ref: 'data_governance.yml#/paths/~1dgs~1aggregate~1GetTypeAggregates'
  /dgs/item/GetTypesV2:
    $ref: 'data_governance.yml#/paths/~1dgs~1item~1GetTypesV2'

  # Data Security Investigations
  /dsi/api/v1/investigations:
    $ref: 'data_security_investigations.yml#/paths/~1dsi~1api~1v1~1investigations'

  # Copilot
  /medeina/auth:
    $ref: 'copilot.yml#/paths/~1medeina~1auth'
  /medeina/auth/expiryDate:
    $ref: 'copilot.yml#/paths/~1medeina~1auth~1expiryDate'
  /medeina/settings/datashare:
    $ref: 'copilot.yml#/paths/~1medeina~1settings~1datashare'
  /medeina/agents:
    $ref: 'copilot.yml#/paths/~1medeina~1agents'
  /cdssecuritycopilot/trial:
    $ref: 'copilot.yml#/paths/~1cdssecuritycopilot~1trial'
  /securityplatform/provisioning/account:
    $ref: 'copilot.yml#/paths/~1securityplatform~1provisioning~1account'
  /securityplatform/workspaces:
    $ref: 'copilot.yml#/paths/~1securityplatform~1workspaces'
  /securityplatform/sentinelgraph/provisioning/checkTenant:
    $ref: 'copilot.yml#/paths/~1securityplatform~1sentinelgraph~1provisioning~1checkTenant'

  # Purview for AI
  /cpm/v1.0/Tenant/AIHubActionsStatus:
    $ref: 'purview_for_ai.yml#/paths/~1cpm~1v1.0~1Tenant~1AIHubActionsStatus'
  /di/find/PurviewForAI:
    $ref: 'purview_for_ai.yml#/paths/~1di~1find~1PurviewForAI'
  /di/find/PurviewForAISetting:
    $ref: 'purview_for_ai.yml#/paths/~1di~1find~1PurviewForAISetting'
  /di/search/PurviewDataAssessmentsInsights:
    $ref: 'purview_for_ai.yml#/paths/~1di~1search~1PurviewDataAssessmentsInsights'
  /di/search/PurviewForAIActivityData:
    $ref: 'purview_for_ai.yml#/paths/~1di~1search~1PurviewForAIActivityData'
  /gws/dspmaimtapp/api/v1/Agents:
    $ref: 'purview_for_ai.yml#/paths/~1gws~1dspmaimtapp~1api~1v1~1Agents'
  /gws/dspmaimtapp/api/v1/scenariosearch:
    $ref: 'purview_for_ai.yml#/paths/~1gws~1dspmaimtapp~1api~1v1~1scenariosearch'
  /medeina/agentDefinitions:
    $ref: 'purview_for_ai.yml#/paths/~1medeina~1agentDefinitions'
  /medeina/settings/datashare/defaultWorkspace:
    $ref: 'purview_for_ai.yml#/paths/~1medeina~1settings~1datashare~1defaultWorkspace'
  /oversharing/api/v1/p4ai/assessment:
    $ref: 'purview_for_ai.yml#/paths/~1oversharing~1api~1v1~1p4ai~1assessment'
  "/oversharing/api/v1/p4ai/assessment('{assessmentId}')":
    $ref: "purview_for_ai.yml#/paths/~1oversharing~1api~1v1~1p4ai~1assessment('{assessmentId}')"
  /oversharing/api/v1/p4ai/tenant/register:
    $ref: 'purview_for_ai.yml#/paths/~1oversharing~1api~1v1~1p4ai~1tenant~1register'
  /oversharing/api/v1/p4ai/tenantSettings/validateStored:
    $ref: 'purview_for_ai.yml#/paths/~1oversharing~1api~1v1~1p4ai~1tenantSettings~1validateStored'
  /oversharing/api/v1/p4ai/tenantSettings/validateStored/fabric:
    $ref: 'purview_for_ai.yml#/paths/~1oversharing~1api~1v1~1p4ai~1tenantSettings~1validateStored~1fabric'
  /WdatpPublicApi/irm/tenant/status:
    $ref: 'purview_for_ai.yml#/paths/~1WdatpPublicApi~1irm~1tenant~1status'

  # Graph Proxy
  /msgraph/v1.0/subscribedSkus:
    $ref: 'graph_proxy.yml#/paths/~1msgraph~1v1.0~1subscribedSkus'
  /msgraph/v1.0/directoryRoles:
    $ref: 'graph_proxy.yml#/paths/~1msgraph~1v1.0~1directoryRoles'
  /msgraph/v1.0/roleManagement/directory/roleAssignments:
    $ref: 'graph_proxy.yml#/paths/~1msgraph~1v1.0~1roleManagement~1directory~1roleAssignments'
  /msgraph/beta/roleManagement/directory/transitiveRoleAssignments:
    $ref: 'graph_proxy.yml#/paths/~1msgraph~1beta~1roleManagement~1directory~1transitiveRoleAssignments'
  /msgraph/beta/identity/conditionalAccess/policies:
    $ref: 'graph_proxy.yml#/paths/~1msgraph~1beta~1identity~1conditionalAccess~1policies'
  /msgraph/v1.0/directory/administrativeUnits:
    $ref: 'graph_proxy.yml#/paths/~1msgraph~1v1.0~1directory~1administrativeUnits'
  /msgraph/v1.0/admin/serviceAnnouncement/messages:
    $ref: 'graph_proxy.yml#/paths/~1msgraph~1v1.0~1admin~1serviceAnnouncement~1messages'
  /msgraph/v1.0/me/getMemberObjects:
    $ref: 'graph_proxy.yml#/paths/~1msgraph~1v1.0~1me~1getMemberObjects'

  # Platform Services
  /purviewplatform/api/v1/insight/GetTypeAggregates:
    $ref: 'platform_services.yml#/paths/~1purviewplatform~1api~1v1~1insight~1GetTypeAggregates'
  /purviewplatform/api/v1/insight/GetOverallProtectionStatus:
    $ref: 'platform_services.yml#/paths/~1purviewplatform~1api~1v1~1insight~1GetOverallProtectionStatus'
  /purviewplatform/api/v1/insight/GetTypeAggregatesByWorkload:
    $ref: 'platform_services.yml#/paths/~1purviewplatform~1api~1v1~1insight~1GetTypeAggregatesByWorkload'
  /purviewplatform/api/v1/insight/GetStartedTasks:
    $ref: 'platform_services.yml#/paths/~1purviewplatform~1api~1v1~1insight~1GetStartedTasks'
  /purviewplatform/api/v1/insight/RecommendedTasks:
    $ref: 'platform_services.yml#/paths/~1purviewplatform~1api~1v1~1insight~1RecommendedTasks'
  /shell/api/shell/shellinfo:
    $ref: 'platform_services.yml#/paths/~1shell~1api~1shell~1shellinfo'
  /iris/v4/api/selection:
    $ref: 'platform_services.yml#/paths/~1iris~1v4~1api~1selection'
  /azurepurview/account:
    $ref: 'platform_services.yml#/paths/~1azurepurview~1account'
  /arm/providers/Microsoft.Authorization/roleAssignments:
    $ref: 'platform_services.yml#/paths/~1arm~1providers~1Microsoft.Authorization~1roleAssignments'
  /ocps/user/v1.0/web/policies:
    $ref: 'platform_services.yml#/paths/~1ocps~1user~1v1.0~1web~1policies'

  # Billing
  /cbill/purview/offer/freetrial:
    $ref: 'billing.yml#/paths/~1cbill~1purview~1offer~1freetrial'
  /cbill/PurviewAccount:
    $ref: 'billing.yml#/paths/~1cbill~1PurviewAccount'
  /cbill/PurviewAccount/billing-config-details:
    $ref: 'billing.yml#/paths/~1cbill~1PurviewAccount~1billing-config-details'
  /cbill/CbsReport/ReportingAPI/GetAggregates:
    $ref: 'billing.yml#/paths/~1cbill~1CbsReport~1ReportingAPI~1GetAggregates'
  /cbill/LicenseUsage/E5TenantUsage:
    $ref: 'billing.yml#/paths/~1cbill~1LicenseUsage~1E5TenantUsage'
  /cbill/LicenseUsage/E5TenantLicenseBreakdown:
    $ref: 'billing.yml#/paths/~1cbill~1LicenseUsage~1E5TenantLicenseBreakdown'
  /cbill/LicenseUsage/E5TenantSolutionBreakdown:
    $ref: 'billing.yml#/paths/~1cbill~1LicenseUsage~1E5TenantSolutionBreakdown'

  # Information Protection
  /aip/api/TenantInfo:
    $ref: 'information_protection.yml#/paths/~1aip~1api~1TenantInfo'
  /rms/api/docs/all:
    $ref: 'information_protection.yml#/paths/~1rms~1api~1docs~1all'

  # DLP Devices
  /mtp/ndr/dlpmachines/count:
    $ref: 'dlp_devices.yml#/paths/~1mtp~1ndr~1dlpmachines~1count'
  /mtp/ndr/dlpmachines:
    $ref: 'dlp_devices.yml#/paths/~1mtp~1ndr~1dlpmachines'
  /mtp/ndr/dlpmachines/filters:
    $ref: 'dlp_devices.yml#/paths/~1mtp~1ndr~1dlpmachines~1filters'
  /mtp/ndr/dlpmachines/summaryStatus:
    $ref: 'dlp_devices.yml#/paths/~1mtp~1ndr~1dlpmachines~1summaryStatus'
  /mtp/sccManagement/mgmt/TenantContext:
    $ref: 'dlp_devices.yml#/paths/~1mtp~1sccManagement~1mgmt~1TenantContext'
  /mtp/incidentQueue/incidents/alerts:
    $ref: 'dlp_devices.yml#/paths/~1mtp~1incidentQueue~1incidents~1alerts'
  /edlp/dlpInternalApi/api/cloud/dlp/logCollections/:
    $ref: 'dlp_devices.yml#/paths/~1edlp~1dlpInternalApi~1api~1cloud~1dlp~1logCollections~1'
  /edlp/dlpInternalApi/api/cloud/dlp/logCollectionsSetting:
    $ref: 'dlp_devices.yml#/paths/~1edlp~1dlpInternalApi~1api~1cloud~1dlp~1logCollectionsSetting'

  # Exchange Admin
  /admin/Beta/{tenantId}/InvokeCommand:
    $ref: 'exchange_admin.yml#/paths/~1admin~1Beta~1{tenantId}~1InvokeCommand'

  # Insider Risk
  "/insiderrisk/insiderrisk/api/v1.0/{tenantId}/InsiderRiskAnalyticsInsightMetadata('{date}')":
    $ref: "insider_risk.yml#/paths/~1insiderrisk~1insiderrisk~1api~1v1.0~1{tenantId}~1InsiderRiskAnalyticsInsightMetadata('{date}')"
  /insiderrisk/insiderrisk/api/v1.0/{tenantId}/ExtensibleIndicators:
    $ref: 'insider_risk.yml#/paths/~1insiderrisk~1insiderrisk~1api~1v1.0~1{tenantId}~1ExtensibleIndicators'
  /insiderrisk/insiderrisk/api/v1.0/{tenantId}/ExtensibleIndicators/limits:
    $ref: 'insider_risk.yml#/paths/~1insiderrisk~1insiderrisk~1api~1v1.0~1{tenantId}~1ExtensibleIndicators~1limits'
  /insiderrisk/insiderrisk/api/v1.0/{tenantId}/IsMcasEnabled:
    $ref: 'insider_risk.yml#/paths/~1insiderrisk~1insiderrisk~1api~1v1.0~1{tenantId}~1IsMcasEnabled'
  /insiderrisk/insiderrisk/api/v1.0/{tenantId}/PolicyScoringDefaults:
    $ref: 'insider_risk.yml#/paths/~1insiderrisk~1insiderrisk~1api~1v1.0~1{tenantId}~1PolicyScoringDefaults'
  /mcas/cas/api/v1/app_connectors/:
    $ref: 'insider_risk.yml#/paths/~1mcas~1cas~1api~1v1~1app_connectors~1'

  # SharePoint
  /spo/admin/_api/SPO.Tenant/EnableAIPIntegration:
    $ref: 'sharepoint.yml#/paths/~1spo~1admin~1_api~1SPO.Tenant~1EnableAIPIntegration'
  /spo/admin/_api/SPO.Tenant/EnableSensitivityLabelForPDF:
    $ref: 'sharepoint.yml#/paths/~1spo~1admin~1_api~1SPO.Tenant~1EnableSensitivityLabelForPDF'
